GetAccountStatementService/Resources/CASAStatementItemList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
              xmlns:tns="http://www.mozabank.org/CASAStatementItemList"
              targetNamespace="http://www.mozabank.org/CASAStatementItemList" elementFormDefault="qualified"
              attributeFormDefault="unqualified" nxsd:stream="json"
				nxsd:format="JSON" nxsd:version="NXSD" nxsd:encoding="US-ASCII">



  
<xsd:element name="Request" type="tns:CASAStatementItemListRequest"/>
<xsd:element name="Response" type="tns:CASAStatementItemListResponse"/>
  <!-- Request -->
<xsd:complexType name="CASAStatementItemListRequest">
<xsd:sequence>
<xsd:element name="referenceNo" type="xsd:string" minOccurs="0"/>
<xsd:element name="accountId" type="xsd:string"/>
<xsd:element name="fromDate" type="xsd:string"/>
<xsd:element name="toDate" type="xsd:string"/>
<xsd:element name="searchByType" type="xsd:string" minOccurs="0"/>
<xsd:element name="transactionType" type="xsd:string" minOccurs="0"/>
<xsd:element name="noOfTransactions" type="xsd:int" minOccurs="0"/>
<xsd:element name="fromAmount" type="xsd:decimal" minOccurs="0"/>
<xsd:element name="toAmount" type="xsd:decimal" minOccurs="0"/>
<xsd:element name="refNum" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
  
      <!-- Response -->
<xsd:complexType name="CASAStatementItemListResponse">
<xsd:sequence>
<xsd:element name="data" type="tns:DataType"/>
</xsd:sequence>
</xsd:complexType>
      <!-- Response -->
<xsd:complexType name="DataType">
<xsd:sequence>
<xsd:element name="result" type="tns:ResultType"/>
<xsd:element name="statementItemList" type="tns:StatementItemListType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="hasMore" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="totalRecords" type="xsd:int" minOccurs="0"/>
<xsd:element name="startSequence" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
      <!-- Result Type -->
<xsd:complexType name="ResultType">
<xsd:sequence>
<xsd:element name="status" type="xsd:string"/>
<xsd:element name="errorList" type="xsd:string" minOccurs="0"/>
<xsd:element name="warningList" type="xsd:string" minOccurs="0"/>
<xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<!-- Statement Item List Type -->
<xsd:complexType name="StatementItemListType">
<xsd:sequence>
<xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0"/>
<xsd:element name="subSequenceNumber" type="xsd:string" minOccurs="0"/>
<xsd:element name="postingDate" type="xsd:string"/>
<xsd:element name="valueDate" type="xsd:string"/>
<xsd:element name="transactionDate" type="xsd:string"/>
<xsd:element name="remarks" type="xsd:string" minOccurs="0"/>
<xsd:element name="accountId" type="xsd:string"/>
<xsd:element name="amount" type="tns:CurrencyAmountType"/>
<xsd:element name="userReferenceNumber" type="xsd:string" minOccurs="0"/>
<xsd:element name="counterPartyAccountId" type="xsd:string" minOccurs="0"/>
<xsd:element name="transactionType" type="xsd:string" minOccurs="0"/>
<xsd:element name="runningBalance" type="tns:CurrencyAmountType" minOccurs="0"/>
<xsd:element name="branchId" type="xsd:string" minOccurs="0"/>
<xsd:element name="toDate" type="xsd:string" minOccurs="0"/>
<xsd:element name="fromDate" type="xsd:string" minOccurs="0"/>
<xsd:element name="creditDebitFlag" type="xsd:string" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<!-- Currency Amount Type -->
<xsd:complexType name="CurrencyAmountType">
<xsd:sequence>
<xsd:element name="currency" type="xsd:string"/>
<xsd:element name="amount" type="xsd:long"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>


<!-- Date Type 
  <xsd:complexType name="DateType">
    <xsd:sequence>
      <xsd:element name="sqlDate" type="xsd:long"/>
      <xsd:element name="monthDate" type="xsd:int"/>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="monthDateTime" type="xsd:long"/>
      <xsd:element name="weekOfYear" type="xsd:int"/>
      <xsd:element name="lastDayOfMonth" type="xsd:int"/>
      <xsd:element name="sqltimestamp" type="xsd:long"/>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="yearMonth" type="xsd:int"/>
      <xsd:element name="year" type="xsd:int"/>
      <xsd:element name="dayOfMonth" type="xsd:int"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:int"/>
      <xsd:element name="month" type="xsd:int"/>
      <xsd:element name="dayOfWeek" type="xsd:int"/>
      <xsd:element name="millis" type="xsd:long"/>
      <xsd:element name="yearMonthDate" type="xsd:int"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
      <xsd:element name="time" type="xsd:int"/>
      <xsd:element name="timestamp" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType> -->