DebitCardList/CCAR1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
              targetNamespace="http://www.mozabanca.org/ccar" 
              xmlns="http://www.mozabanca.org/ccar" 
              elementFormDefault="qualified"
              attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="US-ASCII"> 
   
  <!-- Root Elements -->
  <xsd:element name="CCARRequest" type="CCARRequestType"/>
  <xsd:element name="CCAREncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CCARResponse">
   <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="transactionCode" type="xsd:string"/>
        <xsd:element name="operationData">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CCAR_O_0001" type="xsd:integer"/>
              <xsd:element name="CCAR_O_0002" type="xsd:integer"/>
              <xsd:element name="CCAR_O_0003" maxOccurs="unbounded" minOccurs="0">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="CCAR_O_0003_0001" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0002" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0003" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0004" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0005"/>
                    <xsd:element name="CCAR_O_0003_0006" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0007" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0008" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0009" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0010" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_00101" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0011" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0012" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0013" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0014" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0015" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_00151" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0016" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_00161" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0017" type="xsd:integer"/>
                    <xsd:element name="CCAR_O_0003_0018" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0019" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0020" type="xsd:string"/>
                    <xsd:element name="CCAR_O_0003_0021" type="xsd:string"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="channelOperationLogKey"/>
        <xsd:element name="coreLogKey" type="xsd:integer"/>
        <xsd:element name="coreCancelationCode"/>
        <xsd:element name="errorCode" type="xsd:string"/>
        <xsd:element name="errorMessage" type="errorMessageType"/>
        <xsd:element name="layoutVersion"/>
        <xsd:element name="user" type="xsd:string"/>
        <xsd:element name="password"/>
        <xsd:element name="station"/>
        <xsd:element name="licenceKey" type="xsd:string"/>
        <xsd:element name="encryption"/>
        <xsd:element name="code" type="xsd:integer"/>
        <xsd:element name="version" type="xsd:string"/>
        <xsd:element name="sessionId" type="xsd:string"/>
        <xsd:element name="language"/>
        <xsd:element name="channelCode" type="xsd:string"/>
        <xsd:element name="origin" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Request Type -->
  <xsd:complexType name="CCARRequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataRequestType"/>
	  <xsd:element name="validation"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- OperationDataRequestType -->
  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="CCAR_I_0001" type="xsd:string"/>
      <xsd:element name="CCAR_I_0003" type="xsd:string"/>
      <xsd:element name="CCAR_I_0004" type="xsd:string"/>
      <xsd:element name="CCAR_I_0007" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="CCARResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataResponseType"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage" type="errorMessageType"/>
      <xsd:element name="validation" type="xsd:string"/>
      <xsd:element name="layoutVersion" type="xsd:string"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="station" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- OperationDataResponseType -->
  <xsd:complexType name="OperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="CCAR_O_0001" type="xsd:string"/>
      <xsd:element name="CCAR_O_0002" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003" type="AccountListType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="errorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:string" maxOccurs="unbounded"/> 
    </xsd:sequence>
  </xsd:complexType>
  
  <!-- AccountListType: list of CCAR_O_0003_... account entries -->
  <xsd:complexType name="AccountListType">
    <xsd:sequence>
      <xsd:element name="account" type="AccountType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- AccountType: Details inside each account object -->
  <xsd:complexType name="AccountType">
    <xsd:sequence>
      <xsd:element name="CCAR_O_0003_0001" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0002" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0003" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0004" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0005" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0006" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0007" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0008" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0009" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0010" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_00101" type="xsd:string"/>
      <!-- Note: name includes digit 101 -->
      <xsd:element name="CCAR_O_0003_0011" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0012" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0013" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0014" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0015" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_00151" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0016" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_00161" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0017" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0018" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0019" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0020" type="xsd:string"/>
      <xsd:element name="CCAR_O_0003_0021" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>