OBTransfer/Schema/BRANCH_DATE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabank.org" xmlns="http://www.mozabank.org" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:encoding="US-ASCII">
  <!-- Root Elements -->
  <xsd:element name="Request" type="BranchDatesRequest"/>
  <xsd:element name="Response" type="dataType"/>
  <xsd:complexType name="dataType">
    <xsd:sequence>
      <xsd:element name="data" type="BranchDatesResponse"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Request Type -->
  <xsd:complexType name="BranchDatesRequest">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap">
       <xsd:complexType/>
       </xsd:element>
      <xsd:element name="queryMap" type="xsd:string"  minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="branchCode" type="xsd:string"/>
      <xsd:element name="currentDate" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="BranchDatesResponse">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="Result"/>
      <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="branchCode" type="xsd:string"/>
      <xsd:element name="currentDate" type="xsd:string"/>
      <xsd:element name="nextDate" type="xsd:string"/>
      <xsd:element name="previousDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Result Type -->
  <xsd:complexType name="Result">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" maxOccurs="unbounded" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Date Details Type 
<xsd:complexType name="DateDetails">
<xsd:sequence>
<xsd:element name="dateString" type="xsd:string"/>
<xsd:element name="monthDate" type="xsd:int"/>
<xsd:element name="calendarDayOfWeek" type="xsd:string"/>
<xsd:element name="monthDateTime" type="xsd:int"/>
<xsd:element name="weekOfYear" type="xsd:int"/>
<xsd:element name="lastDayOfMonth" type="xsd:int"/>
<xsd:element name="sqltimestamp" type="xsd:long"/>
<xsd:element name="sqlDate" type="xsd:long"/>
<xsd:element name="month" type="xsd:int"/>
<xsd:element name="dayOfWeek" type="xsd:int"/>
<xsd:element name="millis" type="xsd:long"/>
<xsd:element name="yearMonth" type="xsd:int"/>
<xsd:element name="leapYear" type="xsd:boolean"/>
<xsd:element name="dayOfYear" type="xsd:int"/>
<xsd:element name="year" type="xsd:int"/>
<xsd:element name="dayOfMonth" type="xsd:int"/>
<xsd:element name="time" type="xsd:int"/>
<xsd:element name="timestamp" type="xsd:long"/>
<xsd:element name="yearMonthDate" type="xsd:int"/>
<xsd:element name="infinite" type="xsd:boolean"/>
<xsd:element name="null" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType> -->
</xsd:schema>