OBTransfer/Schema/GenericCode.xsd

<?xml version="1.0" encoding="UTF-8"?>         
    
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/GENERIC_CODE"
            xmlns="http://www.mozabanca.org/GENERIC_CODE" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">


  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>

  <!-- Request Structure -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
       <xsd:element name="headersMap">
            <xsd:complexType/>
            </xsd:element>      
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="bankInfo" type="BankInfoType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  
  <!-- Bank Info Type -->
  <xsd:complexType name="BankInfoType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="network" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="networkCode" type="xsd:string"/>
      <xsd:element name="bankName" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="branchName" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="address" type="AddressType" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  

  <!-- Response Structure -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
   
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="ResultType"/>
      <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="bankInfo" type="BankInfoListType" maxOccurs="unbounded"/>
    </xsd:sequence>

  </xsd:complexType>

  <!-- Result Structure -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

 <!-- Bank Info Type -->
  <xsd:complexType name="BankInfoListType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="network" type="xsd:string" />
      <xsd:element name="networkCode" type="xsd:string"/>
      <xsd:element name="bankName" type="xsd:string" />
      <xsd:element name="branchName" type="xsd:string" />
      <xsd:element name="address" type="AddressType" />
    </xsd:sequence>
  </xsd:complexType>
  


  <!-- Address Type -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="line1" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line2" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line3" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line4" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line5" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line6" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line7" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line8" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line9" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line10" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line11" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line12" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="city" type="xsd:string" />
      <xsd:element name="addressTypeDescription" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="state" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="country" type="xsd:string" minOccurs="0"/>
      <xsd:element name="zipCode" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>