OBTransfer/Schema/SEPA_CREDIT_TRANSFER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/SepaCreditTransfer"
            xmlns="http://www.mozabanca.org/obdx/SepaCreditTransfer" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="DictionaryArrayType" maxOccurs="unbounded" minOccurs="0"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <!-- headersMap -->
      <xsd:element name="headersMap" type="HeadersMapType"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="debitAccountId" type="xsd:string"/>
      <!-- nested objects -->
      <xsd:element name="amount" type="AmountType"/>
      <xsd:element name="paymentDate" type="DateInfo"/>
      <xsd:element name="remarks" type="xsd:string"/>
      <xsd:element name="purposeId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="purposeDescription" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="originatorName" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="domesticBeneficiary" type="DomesticBeneficiaryType"/>
      <xsd:element name="paymentDetails" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="paymentMethod" type="xsd:string"/>
      <xsd:element name="txnBranch" type="xsd:string"/>
      <xsd:element name="hostCode" type="xsd:string"/>
      <xsd:element name="networkCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ───────── RESPONSE ───────── -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result" type="ResultType"/>
            <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ───────── RESULT ───────── -->
 <xsd:complexType name="ResultType" nxsd:mapOrder="dictionaryArray externalReferenceId status errorList warningList">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="externalReferenceId" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>
      <xsd:element name="warningList" type="xsd:anyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ───────── HEADERS MAP ───────── -->
  <xsd:complexType name="HeadersMapType">
    <xsd:sequence>
      <xsd:element name="branchID" type="xsd:string"/>
      <xsd:element name="msgID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ───────── AMOUNT ───────── -->
  <xsd:complexType name="AmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ───────── DOMESTIC BENEFICIARY ───────── -->
  <xsd:complexType name="DomesticBeneficiaryType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountName" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="bankDetails" type="BankDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ───────── BANK DETAILS ───────── -->
  <xsd:complexType name="BankDetailsType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="network" type="xsd:string"/>
      <xsd:element name="networkCode" type="xsd:string"/>
      <xsd:element name="bankName" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="branchName" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="address" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DictionaryArrayType">
    <xsd:sequence>
      <xsd:element name="nameValuePairArray" type="NameValuePairType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NameValuePairType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="genericName" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
      <xsd:element name="datatype" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateInfo">
    <xsd:sequence>
      <xsd:element name="sqlDate" type="xsd:long"/>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="monthDate" type="xsd:int"/>
      <xsd:element name="monthDateTime" type="xsd:long"/>
      <xsd:element name="weekOfYear" type="xsd:int"/>
      <xsd:element name="lastDayOfMonth" type="xsd:int"/>
      <xsd:element name="sqltimestamp" type="xsd:long"/>
      <xsd:element name="year" type="xsd:int"/>
      <xsd:element name="dayOfMonth" type="xsd:int"/>
      <xsd:element name="month" type="xsd:int"/>
      <xsd:element name="dayOfWeek" type="xsd:int"/>
      <xsd:element name="millis" type="xsd:long"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:int"/>
      <xsd:element name="yearMonth" type="xsd:int"/>
      <xsd:element name="yearMonthDate" type="xsd:int"/>
      <xsd:element name="time" type="xsd:int"/>
      <xsd:element name="timestamp" type="xsd:long"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>