OBTransfer/Schema/SEPA_SI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
        targetNamespace="http://www.mozabanca.org/obdx/SepaSI"
        xmlns="http://www.mozabanca.org/obdx/SepaSI"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        nxsd:version="JSON"
        nxsd:encoding="UTF-8">

    <xsd:element name="Request"  type="RequestType"/>
    <xsd:element name="Response" type="ResponseType"/>

    <xsd:complexType name="RequestType">
      <xsd:sequence>
      <xsd:element name="dictionaryArray" type="DictionaryArrayType" maxOccurs="unbounded" minOccurs="0"/>
        <xsd:element name="referenceNo"        type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="interfaceId"        type="xsd:string"/>
        <xsd:element name="entity"             type="xsd:string"/>
        <xsd:element name="headersMap">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="branchID"    type="xsd:string"/>
              <xsd:element name="functionId"  type="xsd:string"/>
              <xsd:element name="channel"     type="xsd:string"/>
              <xsd:element name="action"      type="xsd:string"/>
              <xsd:element name="hostuserID"  type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="hostCode"    type="xsd:string"/>
              <xsd:element name="moduleId"    type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="queryMap"           type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="hostName"           type="xsd:string"/>
        <xsd:element name="partyId"            type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="debitAccountId"     type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="amount"             type="xsd:decimal" minOccurs="0" nillable="true"/>
        <xsd:element name="paymentDate"        type="xsd:string"    minOccurs="0" nillable="true"/>
        <xsd:element name="remarks"            type="xsd:string" />
        <xsd:element name="purposeId"          type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="purposeDescription" type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="originatorName"     type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="domesticBeneficiary" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="paymentDetails"     type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="paymentMethod"      type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="txnBranch"          type="xsd:string"/>
        <xsd:element name="hostCode"           type="xsd:string"/>
        <xsd:element name="networkCode"        type="xsd:string"/>
        <xsd:element name="instructionDate"    type="xsd:date"/>
        <xsd:element name="sourceRefNo"        type="xsd:string"/>
        <xsd:element name="userRefNo"          type="xsd:string"/>
        <xsd:element name="txnRefNo"           type="xsd:long"/>
        <xsd:element name="transferAmt"        type="xsd:decimal"/>
        <xsd:element name="instructiondetails" type="instructiondetails"/>
        <xsd:element name="txnBookingDate"     type="xsd:string"/>
        <xsd:element name="txnValueDate"       type="xsd:string"/>
        <xsd:element name="otherDetails" minOccurs="0" nillable="true">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="line1"           type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="line2"           type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="line3"           type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="line4"           type="xsd:string" minOccurs="0" nillable="true"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="customerNo"         type="xsd:string"/>
        <xsd:element name="crBankCode"         type="xsd:string"/>
        <xsd:element name="transferCcy"        type="xsd:string"/>
        <xsd:element name="crName"             type="xsd:string"/>
        <xsd:element name="crAcNo"             type="xsd:string"/>
        <xsd:element name="drAcBrn"            type="xsd:string"/>
        <xsd:element name="drAcNo"             type="xsd:string"/>
        <xsd:element name="sourceCode"         type="xsd:string"  minOccurs="0" nillable="true"/>
        <xsd:element name="templateId"         type="xsd:string"/>
        <xsd:element name="fileRefNo"          type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
 <xsd:complexType name="instructiondetails">
        <xsd:sequence>
             <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="frequency" type="xsd:string" minOccurs="0" nillable="true"/>
             <xsd:element name="frequencyCode" type="xsd:string"/>
            <xsd:element name="frequencyNo" type="xsd:string"/>           
            <xsd:element name="startDate" type="Date"/>
            <xsd:element name="endDate" type="Date"/>
            <xsd:element name="noofpayments" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
   <xsd:complexType name="ResponseType">
        <xsd:sequence>
              <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
        <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="referenceNo"     type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="result"          type="ResultType"/>
        <xsd:element name="hasMore"         type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="totalRecords"    type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="startSequence"   type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="splitable"       type="xsd:boolean"/>
          </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="ResultType">
      <xsd:sequence>
        <xsd:element name="dictionaryArray"      type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="externalReferenceId"  type="xsd:string"/>
        <xsd:element name="status"               type="xsd:string"/>
             <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>
        <xsd:element name="warningList"          type="xsd:string" minOccurs="0" nillable="true"/>
      </xsd:sequence>
    </xsd:complexType>

  <xsd:complexType name="DictionaryArrayType">
        <xsd:sequence>
            <xsd:element name="nameValuePairArray" type="NameValuePairType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="NameValuePairType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
             <xsd:element name="genericName" type="xsd:string"/>
            <xsd:element name="value" type="xsd:string"/>           
            <xsd:element name="datatype" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
  <xsd:complexType name="Date">
  <xsd:sequence>
    <xsd:element name="dateString" type="xsd:string"/>
    <xsd:element name="monthDate" type="xsd:int"/>
    <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
    <xsd:element name="monthDateTime" type="xsd:long"/>
    <xsd:element name="weekOfYear" type="xsd:int"/>
    <xsd:element name="lastDayOfMonth" type="xsd:int"/>
    <xsd:element name="sqltimestamp" type="xsd:long"/>
    <xsd:element name="sqlDate" type="xsd:long"/>
    <xsd:element name="yearMonth" type="xsd:int"/>
    <xsd:element name="time" type="xsd:int"/>
    <xsd:element name="timestamp" type="xsd:long"/>
    <xsd:element name="leapYear" type="xsd:boolean"/>
    <xsd:element name="dayOfYear" type="xsd:int"/>
    <xsd:element name="year" type="xsd:int"/>
    <xsd:element name="dayOfMonth" type="xsd:int"/>
    <xsd:element name="month" type="xsd:int"/>
    <xsd:element name="dayOfWeek" type="xsd:int"/>
    <xsd:element name="millis" type="xsd:long"/>
    <xsd:element name="yearMonthDate" type="xsd:int"/>
    <xsd:element name="infinite" type="xsd:boolean"/>
    <xsd:element name="null" type="xsd:boolean"/>
  </xsd:sequence>
</xsd:complexType>
</xsd:schema>