GetCreditCardStatement/Schema/CC_FETCH_BILLED_STMT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/cmov_msb" targetNamespace="http://www.mozabank.org/cmov_msb"
            elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="JSON"
            nxsd:encoding="US-ASCII">
  <!-- Root Elements -->
  <xsd:element name="Request" type="tns:RequestType"/>
  <xsd:element name="Response" type="tns:ResponseType"/>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="id" type="xsd:string"/>
     <xsd:element name="statementMonth" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="statementYear" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="q" type="xsd:string" minOccurs="0"/>
      <xsd:element name="sortBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="count" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fromAmount" type="xsd:string" minOccurs="0"/>
      <xsd:element name="toAmount" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="result" type="tns:ResultType"/>
            <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="totalRecords" type="xsd:long" minOccurs="0"/>
            <xsd:element name="startSequence" type="xsd:long" minOccurs="0"/>
            <xsd:element name="creditCardStatementList" type="tns:CreditCardStatementListType" minOccurs="0"
                         maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditCardStatementListType">
    <xsd:sequence>
      <xsd:element name="openingBalance" type="xsd:decimal"/>
      <xsd:element name="earnedPoints" type="xsd:int"/>
      <xsd:element name="redeemedPoints" type="xsd:int"/>
      <xsd:element name="closingBalance" type="xsd:decimal"/>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="statementDate" type="xsd:string"/>
      <xsd:element name="statmentItems" type="tns:StatementItemType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="fromDate" type="xsd:string"/>
      <xsd:element name="toDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatementItemType">
    <xsd:sequence>
      <xsd:element name="transactionDate" type="xsd:string"/>
      <xsd:element name="serialNumber" type="xsd:string"/>
      <xsd:element name="transactionDescription" type="xsd:string"/>
      <xsd:element name="transactionAmount" type="tns:AmountType"/>
      <xsd:element name="crdrFlag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>