GetAllInternalBankTransfer/XSD/CTFI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/ctfi"
            xmlns="http://www.mozabanca.org/ctfi"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <xsd:element name="Request"  type="RequestType"/>
  
  <xsd:element name="CTFIEncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Response" type="ResponseType"/>

  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="user"            type="xsd:string"/>
      <xsd:element name="password"        type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin"          type="xsd:string"/>
      <xsd:element name="channelCode"     type="xsd:string"/>
      <xsd:element name="version"         type="xsd:string"/>
      <xsd:element name="licenceKey"      type="xsd:string"/>
      <xsd:element name="sessionId"       type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData"   type="OperationDataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="CTFI_I_0001" type="xsd:string"/>
      <xsd:element name="CTFI_I_0002" type="xsd:string"/>
      <xsd:element name="CTFI_I_0004" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="CTFI_I_0005" type="xsd:string"/>
      <xsd:element name="CTFI_I_0006" type="xsd:string"/>
      <xsd:element name="CTFI_I_0007" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ─────────────── Response side ─────────────── -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData"   type="OperationDataResponseType"/>
      <!-- Optional logging / diagnostic fields (add more if your backend returns them) -->
      <xsd:element name="errorCode"       type="xsd:string"/>
    <xsd:element name="errorMessage">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="CTFI_O_0001" type="xsd:string"/>
      <xsd:element name="CTFI_O_0002" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003" type="CTFI_O_0003_Type" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CTFI_O_0003_Type">
    <xsd:sequence>
      <xsd:element name="CTFI_O_0003_0001" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0002" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0003" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0004" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0005" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0006" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0007" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0008" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0009" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0010" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0011" type="xsd:string"/>
      <xsd:element name="CTFI_O_0003_0012" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>