GetAllInternalBankTransfer/XSD/HIOP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/hiop"
            xmlns="http://www.mozabanca.org/hiop"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <xsd:element name="Request"  type="RequestType"/>
  
  <xsd:element name="HIOPEncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Response" type="ResponseType"/>

  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="sessionId"            type="xsd:string"/>
      <xsd:element name="user"            type="xsd:string"/>
      <xsd:element name="password"        type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="station"        type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="version"            type="xsd:string"/>
      <xsd:element name="system"            type="xsd:string"/>
      <xsd:element name="licenceKey"      type="xsd:string"/>
       <xsd:element name="application"      type="xsd:string"/>       
       <xsd:element name="encryption"      type="xsd:string" minOccurs="0" nillable="true"/>
       <xsd:element name="language"      type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="transactionCode" type="xsd:string"/>      
      <xsd:element name="origin"          type="xsd:string"/>
       <xsd:element name="channelOperationLogKey"          type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreLogKey"          type="xsd:string"/>
       <xsd:element name="coreCancelationCode"          type="xsd:string" minOccurs="0" nillable="true"/>
       <xsd:element name="event"          type="xsd:string" minOccurs="0" nillable="true"/>
       <xsd:element name="channelCode"          type="xsd:string"/>
      <xsd:element name="url"          type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="operationData"   type="OperationDataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="HIOP_I_0008" type="xsd:string"/>
      <xsd:element name="HIOP_I_0001" type="xsd:string"/>
      <xsd:element name="HIOP_I_0002" type="xsd:string" />
      <xsd:element name="HIOP_I_0004" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="HIOP_I_0005" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="HIOP_I_00021" type="xsd:string"/>
       <xsd:element name="HIOP_I_0003" type="xsd:string" />
      <xsd:element name="HIOP_I_0006" type="xsd:string"/>
      <xsd:element name="HIOP_I_0007" type="xsd:string" minOccurs="0" nillable="true"/>

    </xsd:sequence>
  </xsd:complexType>

  <!-- ─────────────── Response side ─────────────── -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData"   type="OperationDataResponseType"/>
      <!-- Optional logging / diagnostic fields (add more if your backend returns them) -->
       <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="coreLogKey" type="xsd:string"/>
        <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage">
           <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="validation" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="user" type="xsd:string"/>
        <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="licenceKey" type="xsd:string"/>
        <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="code" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="version" type="xsd:string"/>
        <xsd:element name="sessionId" type="xsd:string"/>
        <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="channelCode" type="xsd:string"/>
        <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="HIOP_O_0001" type="xsd:string"/>
      <xsd:element name="HIOP_O_0002" type="xsd:string"/>
      <xsd:element name="HIOP_O_0003" type="HIOP_O_0003_Type" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="HIOP_O_0003_Type">
    <xsd:sequence>
      <xsd:element name="HIOP_O_0003_0001" type="xsd:string"/>
      <xsd:element name="HIOP_O_0003_0002" type="xsd:string"/>
      <xsd:element name="HIOP_O_0003_0003" type="xsd:string"/>
      <xsd:element name="HIOP_O_0003_00031" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="HIOP_O_0003_0004" type="xsd:string"/>
      <xsd:element name="HIOP_O_0003_00041" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="HIOP_O_0003_0005" type="xsd:string"/>
      <xsd:element name="HIOP_O_0003_0006" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>