GetAllInternalBankTransfer/XSD/OUTWARD_REMITTANCE_DETAILS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/outward_remittance_details"
            xmlns="http://www.mozabanca.org/obdx/outward_remittance_details"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

    <!-- ────────────────  ROOT ELEMENTS  ──────────────── -->
    <xsd:element name="Request"  type="RequestType"/>
    <xsd:element name="Response" type="ResponseType"/>

    <!-- ────────────────  REQUEST  ──────────────── -->
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray"     type="xsd:string"  minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo"         type="xsd:string"/>
            <xsd:element name="interfaceId"         type="xsd:string"/>
            <xsd:element name="entity"              type="xsd:string"/>
           <xsd:element name="headersMap">
            <xsd:complexType/>
             </xsd:element>
            <xsd:element name="queryMap"            type="xsd:anyType" minOccurs="0" nillable="true"/>
            <xsd:element name="hostName"            type="xsd:string"/>
            <xsd:element name="txnReferenceId"      type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ────────────────  RESPONSE  ──────────────── -->
  <xsd:complexType name="ResponseType">
        <xsd:sequence>
              <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray"          type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo"              type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result"                   type="ResultType"/>
            <xsd:element name="hasMore"                  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords"             type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence"            type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="outwardRemittanceDetails" type="OutwardRemittanceDetailsType"/>
            </xsd:sequence>
</xsd:complexType>
</xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ────────────────  RESULT  ──────────────── -->
    <xsd:complexType name="ResultType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray"     type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="status"              type="xsd:string"/>
            <xsd:element name="errorList"           type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="warningList"         type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ────────────────  OUTWARD‑REMITTANCE‑DETAILS  ──────────────── -->
    <xsd:complexType name="OutwardRemittanceDetailsType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray"               type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="partyId"                       type="xsd:string"/>
            <xsd:element name="paymentDate"                   type="xsd:string"/>
            <xsd:element name="purposeId"                     type="xsd:string"/>
            <xsd:element name="remarks"                       type="xsd:string"/>
            <xsd:element name="bankCharges"                   type="CurrencyAmountType"/>
            <xsd:element name="exchangeRate"                  type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="transactionAmount"             type="CurrencyAmountType"/>
            <xsd:element name="debitAccount"                  type="AccountType"/>
            <xsd:element name="creditAccount"                 type="AccountType"/>
            <xsd:element name="txnReferenceId"                type="xsd:string"/>
            <xsd:element name="paymentStatus"                 type="xsd:string"/>
            <xsd:element name="paymentType"                   type="xsd:string"/>
            <xsd:element name="networkCode"                   type="xsd:string"/>
            <xsd:element name="fundReceivedDate"              type="xsd:string"/>
            <xsd:element name="fundCreditedDate"              type="xsd:string"/>
            <xsd:element name="orderingPartyId"               type="xsd:string"/>
            <xsd:element name="debitAmount"                   type="CurrencyAmountType"/>
            <xsd:element name="payeeName"                     type="xsd:string"/>
            <xsd:element name="payeeBankName"                 type="xsd:string"/>
            <xsd:element name="payeeAddress"                  type="AddressType"/>
            <xsd:element name="payeeBankAddress"              type="AddressType"/>

            <!-- Lists rendered as arrays of objects -->
            <xsd:element name="messageList"  type="MessageListType" minOccurs="0" nxsd:json-type="array" maxOccurs="unbounded"/>
            <xsd:element name="adviceList"   type="AdviceListType"  minOccurs="0" nxsd:json-type="array" maxOccurs="unbounded"/>

            <xsd:element name="intermediaryBankCode"          type="xsd:string"/>
            <xsd:element name="intermediaryBankName"          type="xsd:string"/>
            <xsd:element name="customerRefNo"                 type="xsd:string"/>
            <xsd:element name="intermediaryBankAddress"       type="AddressType"/>
            <xsd:element name="uniqueEndToEndTxnReference"    type="xsd:string"/>
            <xsd:element name="initiationDate"                type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ────────────────  SUPPORTING TYPES  ──────────────── -->

    <!-- Currency + amount pair -->
    <xsd:complexType name="CurrencyAmountType">
        <xsd:sequence>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="amount"   type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Bank account object -->
    <xsd:complexType name="AccountType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="accountId"       type="xsd:string"/>
            <xsd:element name="currency"        type="xsd:string"/>
            <xsd:element name="bankCode"        type="xsd:string"/>
            <xsd:element name="branchCode"      type="xsd:string"/>
            <xsd:element name="iban"            type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Postal address -->
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="line1"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line2"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line3"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line4"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line5"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line6"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line7"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line8"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line9"                   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line10"                  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line11"                  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line12"                  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="city"                    type="xsd:string"/>
            <xsd:element name="addressTypeDescription"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="state"                   type="xsd:string"/>
            <xsd:element name="country"                 type="xsd:string"/>
            <xsd:element name="zipCode"                 type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

  
    <!-- Message / Advice objects & their lists -->
    <xsd:complexType name="MessageListType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNumber" type="xsd:string"/>
            <xsd:element name="dcnNo"           type="xsd:string"/>
            <xsd:element name="messageType"     type="xsd:string"/>
            <xsd:element name="description"     type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AdviceListType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNumber" type="xsd:string"/>
            <xsd:element name="dcnNo"           type="xsd:string"/>
            <xsd:element name="messageType"     type="xsd:string"/>
            <xsd:element name="description"     type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

  
</xsd:schema>