LoanTransactions/LoanTransOBDX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/LoanTrans" xmlns="http://www.mozabanca.org/obdx/LoanTrans"
            elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>
  <!--<xsd:element name="RequestEncoded" type="RequestEncodedType"/>-->
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" minOccurs="0" nillable="true" type="xsd:string"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="OBCL_OBRH_USER_ID" type="xsd:string"/>
            <xsd:element name="OBCL_OBRH_BRANCH" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryMap" minOccurs="0" nillable="true" type="xsd:string"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="branchCode" type="xsd:string"/>
      <xsd:element name="transactionType" minOccurs="0" nillable="true" type="xsd:string"/>
      <xsd:element name="searchByType" type="xsd:string"/>
      <xsd:element name="fromDate" type="xsd:string"/>
      <xsd:element name="toDate" type="xsd:string"/>
      <xsd:element name="hostDate" type="xsd:date"/>
      <xsd:element name="fromAmount" type="AmountType"/>
      <xsd:element name="toAmount" type="AmountType"/>
      <xsd:element name="noOfTransactions" minOccurs="0" nillable="true" type="xsd:integer"/>
      <xsd:element name="accountingEntryBasisType" type="xsd:string"/>
      <xsd:element name="userType" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Shared Amount Type -->
  <xsd:complexType name="AmountType">
    <xsd:sequence>
      <xsd:element name="currency" minOccurs="0" nillable="true" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" minOccurs="0" nillable="true" type="xsd:string"/>
            <xsd:element name="referenceNo" type="xsd:string"/>
            <xsd:element name="result" minOccurs="0" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="dictionaryArray" minOccurs="0" nillable="true" type="xsd:string"/>
                  <xsd:element name="externalReferenceId" type="xsd:string"/>
                  <xsd:element name="status" type="xsd:string"/>
                  <xsd:element name="errorList" minOccurs="0" nillable="true" type="xsd:string"/>
                  <xsd:element name="warningList" minOccurs="0" nillable="true" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="hasMore" type="xsd:boolean"/>
            <xsd:element name="totalRecords" type="xsd:integer"/>
            <xsd:element name="startSequence" type="xsd:integer"/>
            <xsd:element name="statementItemList" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="dictionaryArray" minOccurs="0" nillable="true" type="xsd:string"/>
                  <xsd:element name="amount" type="AmountType"/>
                  <xsd:element name="accountId" type="xsd:string"/>
                  <xsd:element name="creditAccountId" type="xsd:string"/>
                  <xsd:element name="branchId" type="xsd:string"/>
                  <xsd:element name="subSequenceNumber" type="xsd:string"/>
                  <xsd:element name="transactionType" type="xsd:string"/>
                  <xsd:element name="externalReferenceId" type="xsd:string"/>
                  <xsd:element name="transactionDate" type="DateInfoType"/>
                  <xsd:element name="postingDate" type="DateInfoType"/>
                  <xsd:element name="description" type="xsd:string"/>
                  <xsd:element name="valueDate" type="DateInfoType"/>
                  <xsd:element name="transactionReferenceNumber" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Shared Date Info -->
  <xsd:complexType name="DateInfoType">
    <xsd:sequence>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="monthDate" type="xsd:string"/>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="monthDateTime" type="xsd:string"/>
      <xsd:element name="weekOfYear" type="xsd:unsignedByte"/>
      <xsd:element name="lastDayOfMonth" type="xsd:unsignedByte"/>
      <xsd:element name="sqltimestamp" type="xsd:unsignedLong"/>
      <xsd:element name="time" type="xsd:unsignedByte"/>
      <xsd:element name="timestamp" type="xsd:unsignedLong"/>
      <xsd:element name="sqlDate" type="xsd:unsignedLong"/>
      <xsd:element name="yearMonth" type="xsd:unsignedInt"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:unsignedShort"/>
      <xsd:element name="month" type="xsd:unsignedByte"/>
      <xsd:element name="dayOfWeek" type="xsd:unsignedByte"/>
      <xsd:element name="millis" type="xsd:unsignedLong"/>
      <xsd:element name="yearMonthDate" type="xsd:unsignedInt"/>
      <xsd:element name="year" type="xsd:unsignedShort"/>
      <xsd:element name="dayOfMonth" type="xsd:unsignedByte"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultType" nxsd:mapOrder="dictionaryArray externalReferenceId status errorList warningList">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="externalReferenceId" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warningList" type="xsd:anyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>