TDTopUp/XSD/CAPD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/capd"
            xmlns="http://www.mozabanca.org/capd"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="CAPDRequest" type="CAPDRequestType"/>
  <xsd:element name="CAPDResponse" type="CAPDResponseType"/>
  <xsd:element name="CAPDStringRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- CAPD Request Structure -->
  <xsd:complexType name="CAPDRequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CAPD_I_0001" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- CAPD Response Structure -->
  <xsd:complexType name="CAPDResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CAPD_O_0001" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0002" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0003" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0004" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0005" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0006" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0007" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0008" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0009" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0010" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0011" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0012" type="xsd:string" nillable="true" minOccurs="0" />
            <xsd:element name="CAPD_O_0013" type="xsd:string" nillable="true" minOccurs="0" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>