TDTopUp/XSD/RAPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/rapp"
            xmlns="http://www.mozabanca.org/rapp"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Request Root Element -->
  <xsd:element name="Request" type="RequestType" />

  <!-- Encoded Request (Optional Wrapper) -->
  <xsd:element name="RAPPEncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- Response Root Element -->
  <xsd:element name="Response" type="ResponseType" />

  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataRequestType"/>
      <xsd:element name="validation" type="ValidationRequestType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- OperationData Request -->
  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="RAPP_I_0001" type="xsd:string"/>
      <xsd:element name="RAPP_I_0002" type="xsd:string"/>
      <xsd:element name="RAPP_I_0003" type="xsd:string"/>
      <xsd:element name="RAPP_I_0004" type="xsd:string"/>
      <xsd:element name="RAPP_I_0005" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Validation Request -->
  <xsd:complexType name="ValidationRequestType">
    <xsd:sequence>
      <xsd:element name="confirmationKey" type="ConfirmationKeyType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfirmationKeyType">
    <xsd:sequence>
      <xsd:element name="digitValues" type="xsd:string"/>
      <xsd:element name="digitPositions" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataResponseType"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      <xsd:element name="validation" type="validationType"/>
      <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="code" type="xsd:string" />
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- OperationData Response -->
  <xsd:complexType name="OperationDataResponseType">
    <xsd:sequence>
      <!-- Add any expected RAPP response fields here -->
    </xsd:sequence>
  </xsd:complexType>
  <!-- OperationData Response -->
  <xsd:complexType name="validationType">
    <xsd:sequence>
      <!-- Add any expected RAPP response fields here -->
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>