TDTopUp/XSD/TD_LIST_BASIC_DETAILS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/td_list_basic_details"
            xmlns="http://www.mozabanca.org/obdx/td_list_basic_details"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON" nxsd:encoding="UTF-8">

    <!-- Root Elements -->
    <xsd:element name="Request" type="RequestType"/>
    <xsd:element name="Response" type="ResponseType"/>

    <!-- Request Type -->
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string"/>
            <xsd:element name="interfaceId" type="xsd:string"/>
            <xsd:element name="entity" type="xsd:string"/>
            <xsd:element name="headersMap">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="hostName" type="xsd:string"/>
            <xsd:element name="accountList" type="xsd:string" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="modules" type="xsd:string"/>
            <xsd:element name="accountModule" type="xsd:string"/>
            <xsd:element name="partyId" type="xsd:string"/>
            <xsd:element name="branchCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Response Type -->
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
        <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result" type="ResultType"/>
            <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="accounts" maxOccurs="unbounded" type="AccountType" minOccurs="0"  nxsd:json-type="array"/>
            </xsd:sequence>
        </xsd:complexType>
        </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Result Type -->
    <xsd:complexType name="ResultType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Account Type -->
    <xsd:complexType name="AccountType">
        <xsd:sequence>
            <xsd:element name="partyId" type="xsd:string"/>
            <xsd:element name="accountId" type="xsd:string"/>
            <xsd:element name="branchId" type="xsd:string"/>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="availableBalance" type="AmountType"/>
            <xsd:element name="tenure" type="TenureType"/>
            <xsd:element name="interestRate" type="xsd:string"/>
            <xsd:element name="principalAmount" type="AmountType"/>
            <xsd:element name="maturityAmount" type="AmountType"/>
            <xsd:element name="holdAmount" type="AmountType"/>
            <xsd:element name="rollOverAmount" type="AmountType"/>
            <xsd:element name="maturityDate" type="xsd:string"/>
            <xsd:element name="depositDate" type="xsd:string"/>
            <xsd:element name="currentPrincipalAmount" type="AmountType"/>
            <xsd:element name="openingDate" type="xsd:string"/>
            <xsd:element name="valueDate" type="xsd:string"/>
            <xsd:element name="module" type="xsd:string"/>
            <xsd:element name="accountDisplayName" type="xsd:string"/>
            <xsd:element name="productId" type="xsd:string"/>
            <xsd:element name="rolloverType" type="xsd:string"/>
            <xsd:element name="certificate" type="CertificateType"/>
            <xsd:element name="redeemptionDetails" type="RedemptionDetailType" maxOccurs="unbounded" minOccurs="0"  nxsd:json-type="array"/>          
            <xsd:element name="holdingPattern" type="xsd:string"/>
            <xsd:element name="isNomineeRegistered" type="xsd:string"/>
            <xsd:element name="sweepinProvider" type="xsd:string"/>
            <xsd:element name="sortCode" type="xsd:string"/>
            <xsd:element name="hostRelationshipCode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Amount Type -->
    <xsd:complexType name="AmountType">
        <xsd:sequence>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Tenure Type -->
    <xsd:complexType name="TenureType">
        <xsd:sequence>
            <xsd:element name="days" type="xsd:string"/>
            <xsd:element name="months" type="xsd:string"/>
            <xsd:element name="years" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Certificate Type -->
    <xsd:complexType name="CertificateType">
        <xsd:sequence>
            <xsd:element name="certificateNo" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Redemption Detail Type -->
    <xsd:complexType name="RedemptionDetailType">
        <xsd:sequence>
            <xsd:element name="accountId" type="xsd:string"/>
            <xsd:element name="redemptionType" type="xsd:string"/>
            <xsd:element name="redemptionId" type="xsd:string"/>
            <xsd:element name="amount" type="AmountType"/>
            <xsd:element name="date" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>