TDTopUp/XSD/TD_TOPUP_PROJECTION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/td_topup_projection"
            xmlns="http://www.mozabanca.org/obdx/td_topup_projection"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON" nxsd:encoding="UTF-8">

    <!-- Request Root Element -->
    <xsd:element name="Request" type="RequestType"/>

    <!-- Response Root Element -->
    <xsd:element name="Response" type="ResponseType"/>

    <!-- Request Type -->
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string"/>
            <xsd:element name="interfaceId" type="xsd:string"/>
            <xsd:element name="entity" type="xsd:string"/>
            <xsd:element name="headersMap">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="hostName" type="xsd:string"/>
            <xsd:element name="accountId" type="xsd:string"/>
            <xsd:element name="partyId" type="xsd:string"/>
            <xsd:element name="amount" type="AmountType1"/>
            <xsd:element name="topUpDate" type="xsd:string"/>
            <xsd:element name="remarks" type="xsd:string"/>
            <xsd:element name="branchCode" type="xsd:string"/>
            <xsd:element name="ccy" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Response Type -->
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
            <xsd:element name="data">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="result" type="ResultType"/>
                        <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="currentPrincipal" type="AmountType" minOccurs="0"/>
                        <xsd:element name="principalAmount" type="AmountType" minOccurs="0"/>
                        <xsd:element name="maturityAmount" type="AmountType" minOccurs="0"/>
                        <xsd:element name="revisedInterestRate" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="sourceAccountId" type="xsd:string" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Amount Complex Type -->
    <xsd:complexType name="AmountType">
        <xsd:sequence>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- Amount Complex Type -->
    <xsd:complexType name="AmountType1">
        <xsd:sequence>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Result Complex Type -->
    <xsd:complexType name="ResultType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>