authenticateSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.mozabank.org"
            targetNamespace="http://www.mozabank.org"
            elementFormDefault="qualified">
		
		<xsd:element name="Request" type="RequestType"/>
        <xsd:element name="Response" type="ResponseType"/>
  
  
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="username" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  
  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="user_id" type="xsd:string"/>
      <xsd:element name="access_token" type="xsd:string"/>
	  <xsd:element name="expires_in" type="xsd:int"/>
	  <xsd:element name="response_code" type="xsd:boolean"/>
	  <xsd:element name="response_desc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  </xsd:schema>