BranchList/Xsd/BranchList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/branch_list"
            xmlns="http://www.mozabanca.org/obdx/branch_list"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

    <!-- ─────────────── ROOT ELEMENTS ─────────────── -->
    <xsd:element name="Request"  type="RequestType"/>
    <xsd:element name="Response" type="ResponseType"/>

    <!-- ─────────────── REQUEST ─────────────── -->
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo"      type="xsd:string"/>
            <xsd:element name="interfaceId"      type="xsd:string"/>
            <xsd:element name="entity"           type="xsd:string"/>

            <!-- Empty JSON object {} -->
            <xsd:element name="headersMap">
                <xsd:complexType/>
            </xsd:element>

            <xsd:element name="queryMap"       type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="hostName"       type="xsd:string"/>
            <xsd:element name="branchId"       type="xsd:string"/>
            <xsd:element name="locality"       type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="district"       type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="city"           type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="state"          type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="countryRegion"  type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ─────────────── RESPONSE ─────────────── -->
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
<xsd:element name="data">
<xsd:complexType>
<xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo"     type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result"          type="ResultType"/>

            <xsd:element name="hasMore"       type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>

            <!-- Array of branch objects -->
            <xsd:element name="branchList"
                         type="BranchType"
                         minOccurs="0"
                         maxOccurs="unbounded"
                         nxsd:json-type="array"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

    <!-- ─────────────── RESULT ─────────────── -->
    <xsd:complexType name="ResultType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray"     type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="status"              type="xsd:string"/>
            <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
 <xsd:complexType>
<xsd:sequence>
<xsd:element name="code" type="xsd:string"/>
<xsd:element name="message" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
            <xsd:element name="warningList"         type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ─────────────── BRANCH OBJECT ─────────────── -->
    <xsd:complexType name="BranchType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="branchId"        type="xsd:string"/>
            <xsd:element name="branchName"      type="xsd:string"/>
            <xsd:element name="bankId"          type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="localCurrency"   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="address"         type="AddressType"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ─────────────── ADDRESS OBJECT ─────────────── -->
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="line1"  type="xsd:string"/>
            <xsd:element name="line2"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line3"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line4"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line5"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line6"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line7"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line8"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line9"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line10" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line11" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="line12" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="city"   type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="addressTypeDescription" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="state"  type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="country" type="xsd:string"/>
            <xsd:element name="zipCode" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>