ExchangeRate/Schemas/MSB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/exchange_rate_msb"
            xmlns="http://www.mozabanca.org/exchange_rate_msb" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="ExchangeRateRequest" type="RequestType"/>
  <xsd:element name="ExchangeRateEncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ExchangeRateResponse" type="ResponseType"/>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- OperationDataRequestType -->
  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="CCMB_I_0001" type="xsd:string"/>
      <xsd:element name="CCMB_I_0002" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CCMB_I_0003" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CCMB_I_0007" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response without "data" -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence> 
            <xsd:element name="transactionCode" type="xsd:string"/>
            <xsd:element name="operationData">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CCMB_O_00001" type="xsd:string"/>
                  <xsd:element name="CCMB_O_0001" type="xsd:string"/>
                  <xsd:element name="CCMB_O_0002" type="xsd:string"/>
                  <xsd:element name="CCMB_O_0003" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="CCMB_O_0003_0001" type="xsd:string"/>
                        <xsd:element name="CCMB_O_0003_0002" type="xsd:string"/>
                        <xsd:element name="CCMB_O_0003_00021" type="xsd:string"/>
                        <xsd:element name="CCMB_O_0003_0003" type="xsd:string"/>
                        <xsd:element name="CCMB_O_0003_0004" type="xsd:string"/>
                        <xsd:element name="CCMB_O_0003_0005" type="xsd:string"/>
                        <xsd:element name="CCMB_O_0003_0006" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="coreLogKey" type="xsd:string"/>
            <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="errorCode" type="xsd:string"/>
            <xsd:element name="errorMessage">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="user" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="licenceKey" type="xsd:string"/>
            <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="version" type="xsd:string"/>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="channelCode" type="xsd:string"/>
            <xsd:element name="origin" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType> 
</xsd:schema>