GetAllProducts_TD/Resources/GetAllProductsTD-CapdBS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GetAllProductsTD-CapdBS">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabank.org/CAPD" schemaLocation="../Schema/CAPD.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/TestApplication/GetAllProducts_TD/GetAllProductsTD-CapdBS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="Operation1_params">
                <complexType>
                    <sequence>
                        <element name="requestParams" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/OP_CALL_ENC?request={requestParams}">
         <method name="GET" soa:wsdlOperation="Operation1">
            <request soa:paramElement="pns:Operation1_params" xmlns:pns="http://xmlns.oracle.com/TestApplication/GetAllProducts_TD/GetAllProductsTD-CapdBS">
               <param name="requestParams" style="template" soa:expression="$msg.request/pns:requestParams" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:CAPDResponse" xmlns:cns="http://www.mozabank.org/CAPD"/>
               <representation mediaType="application/json" element="cns:CAPDResponse" xmlns:cns="http://www.mozabank.org/CAPD"/>
            </response>
         </method>
      </resource>
   </resources>
</application>