GetAllProducts_TD/Resources/GetAllProductsTD-CapdBS.wsdl

<wsdl:definitions name="GetAllProductsTD-CapdBS" targetNamespace="http://xmlns.oracle.com/TestApplication/GetAllProducts_TD/GetAllProductsTD-CapdBS" xmlns:tns="http://xmlns.oracle.com/TestApplication/GetAllProducts_TD/GetAllProductsTD-CapdBS" xmlns:inp1="http://www.mozabank.org/CAPD" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GetAllProductsTD-CapdBS">
        <plnk:role name="GetAllProductsTD-CapdBSProvider" portType="tns:GetAllProductsTD-CapdBS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/CAPD" schemaLocation="../Schema/CAPD.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/TestApplication/GetAllProducts_TD/GetAllProductsTD-CapdBS" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="Operation1_params">
                <complexType>
                    <sequence>
                        <element name="requestParams" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="tns:Operation1_params"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:CAPDResponse"/>
    </wsdl:message>
    <wsdl:portType name="GetAllProductsTD-CapdBS_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetAllProductsTD-CapdBS_ptt-binding" type="tns:GetAllProductsTD-CapdBS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>