GetAllProducts_TD/Schema/TD_LIST_BASIC_DETAILS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/TD_LIST_BASIC_DETAILS"
            targetNamespace="http://www.mozabank.org/TD_LIST_BASIC_DETAILS"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">
 
  <xsd:element name="TDBasicDetailsRequest" type="tns:RequestType"/>
  <xsd:element name="TDBasicDetailsResponse" type="tns:ResponseType"/>
 
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="accountList" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="modules" type="xsd:string" minOccurs="0"/>
      <xsd:element name="accountModule" type="xsd:string" minOccurs="0"/>
      <xsd:element name="partyId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="branchCode" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ====================== RESPONSE STRUCTURE ====================== -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="result" type="tns:ResultType"/>
            <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="totalRecords" type="xsd:int" minOccurs="0"/>
            <xsd:element name="startSequence" type="xsd:int" minOccurs="0"/>
            <xsd:element name="accounts" type="tns:AccountType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ====================== RESULT STRUCTURE ====================== -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" minOccurs="0" maxOccurs="unbounded" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ====================== ACCOUNT STRUCTURE ====================== -->
  <xsd:complexType name="AccountType">
    <xsd:sequence>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="branchId" type="xsd:string"/>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="availableBalance" type="tns:CurrencyAmountType"/>
      <xsd:element name="tenure" type="tns:TenureType"/>
      <xsd:element name="interestRate" type="xsd:decimal"/>
      <xsd:element name="principalAmount" type="tns:CurrencyAmountType"/>
      <xsd:element name="maturityAmount" type="tns:CurrencyAmountType"/>
      <xsd:element name="holdAmount" type="tns:CurrencyAmountType"/>
      <xsd:element name="rollOverAmount" type="tns:CurrencyAmountType"/>
      <xsd:element name="maturityDate" type="xsd:string"/>
      <xsd:element name="depositDate" type="xsd:string"/>
      <xsd:element name="currentPrincipalAmount" type="tns:CurrencyAmountType"/>
      <xsd:element name="openingDate" type="xsd:string"/>
      <xsd:element name="valueDate" type="xsd:string"/>
      <xsd:element name="module" type="xsd:string"/>
      <xsd:element name="accountDisplayName" type="xsd:string"/>
      <xsd:element name="productId" type="xsd:string"/>
      <xsd:element name="rolloverType" type="xsd:string"/>
      <xsd:element name="certificate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="certificateNo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="redeemptionDetails" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="accountId" type="xsd:string"/>
            <xsd:element name="redemptionType" type="xsd:string"/>
            <xsd:element name="redemptionId" type="xsd:string"/>
            <xsd:element name="amount" type="tns:CurrencyAmountType"/>
            <xsd:element name="date" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="holdingPattern" type="xsd:string"/>
      <xsd:element name="isNomineeRegistered" type="xsd:string"/>
      <xsd:element name="sweepinProvider" type="xsd:string"/>
      <xsd:element name="sortCode" type="xsd:string"/>
      <xsd:element name="hostRelationshipCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ====================== COMMON TYPES ====================== -->
  <xsd:complexType name="CurrencyAmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TenureType">
    <xsd:sequence>
      <xsd:element name="days" type="xsd:int"/>
      <xsd:element name="months" type="xsd:int"/>
      <xsd:element name="years" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>