SelfInternalTransferServices/Schema/MSBSchema/CDOD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
    xmlns:tns="http://www.mozabank.org/cdod"
    targetNamespace="http://www.mozabank.org/cdod" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified" 
    nxsd:version="JSON"
    nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="tns:CDODRequestType"/>
  <xsd:element name="Response" type="tns:CDODResponseType"/>
  <xsd:element name="RequestEncoded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Request Type -->
  <xsd:complexType name="CDODRequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="tns:OperationDataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="CDOD_I_0001" type="xsd:string"/>
      <xsd:element name="CCDO_I_0004" type="xsd:string"/>
      <xsd:element name="CCDO_I_0005" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response Type -->
  <xsd:complexType name="CDODResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="tns:OperationDataResponseType"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage" type="tns:ErrorMessageType"/>
      <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="CDOD_O_0001" type="xsd:string"/>
      <xsd:element name="CDOD_O_0002" type="xsd:string"/>
      <xsd:element name="CDOD_O_0003" type="xsd:string"/>
      <xsd:element name="CDOD_O_0004" type="xsd:string"/>
      <xsd:element name="CDOD_O_0005" type="xsd:string"/>
      <xsd:element name="CDOD_O_0006" type="xsd:string"/>
      <xsd:element name="CDOD_O_0007" type="xsd:string"/>
      <xsd:element name="CDOD_O_0008" type="xsd:string"/>
      <xsd:element name="CDOD_O_00081" type="xsd:string"/>
      <xsd:element name="CDOD_O_00082" type="xsd:string"/>
      <xsd:element name="CDOD_O_0009" type="xsd:string"/>
      <xsd:element name="CDOD_O_0010" type="xsd:string"/>
      <xsd:element name="CDOD_O_0011" type="xsd:string"/>
      <xsd:element name="CDOD_O_0012" type="xsd:string"/>
      <xsd:element name="CDOD_O_0013" type="xsd:string"/>
      <xsd:element name="CDOD_O_0014" type="xsd:string"/>
      <xsd:element name="CDOD_O_0015" type="xsd:string"/>
      <xsd:element name="CDOD_O_0016" type="xsd:string"/>
      <xsd:element name="CDOD_O_0017" type="xsd:string"/>
      <xsd:element name="CDOD_O_0018" type="xsd:string"/>
      <xsd:element name="CDOD_O_0019" type="xsd:string"/>
      <xsd:element name="CDOD_O_00191" type="xsd:string"/>
      <xsd:element name="CDOD_O_00192" type="xsd:string"/>
      <xsd:element name="CDOD_O_0020" type="xsd:string"/>
      <xsd:element name="CDOD_O_0021" type="xsd:string"/>
      <xsd:element name="CDOD_O_0022" type="xsd:string"/>
      <xsd:element name="CDOD_O_0023" type="xsd:string"/>
      <xsd:element name="CDOD_O_0024" type="xsd:string"/>
      <xsd:element name="CDOD_O_0025" type="xsd:string"/>
      <xsd:element name="CDOD_O_0026" type="xsd:string"/>
      <xsd:element name="CDOD_O_0027" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="tns:MessagesType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="MessagesType">
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>