SelfInternalTransferServices/Schema/MSBSchema/PTFI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/ptfi" targetNamespace="http://www.mozabank.org/ptfi"
            elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="Request" type="tns:PTFIRequestType"/>
  <xsd:element name="Response" type="tns:PTFIResponseType"/>
  <xsd:element name="RequestString">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestEncoded" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Request Type -->
  <xsd:complexType name="PTFIRequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="tns:PTFIOperationDataRequestType"/> 
    </xsd:sequence>
  </xsd:complexType>
  <!-- operationData for Request -->
  <xsd:complexType name="PTFIOperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="PTFI_I_0001" type="xsd:string"/>
      <xsd:element name="PTFI_I_0002" type="xsd:string"/>
      <xsd:element name="PTFI_I_0003" type="xsd:string"/>
      <xsd:element name="PTFI_I_0004" type="xsd:string"/>
      <xsd:element name="PTFI_I_0005" type="xsd:string"/>
      <xsd:element name="PTFI_I_0006" type="xsd:string"/>
      <xsd:element name="PTFI_I_0007" type="xsd:string"/>
      <xsd:element name="PTFI_I_0008" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="PTFI_I_0009" type="xsd:string"/>
      <xsd:element name="PTFI_I_0010" type="xsd:string"/>
      <xsd:element name="PTFI_I_0011" type="xsd:string"/>
      <xsd:element name="PTFO_I_00132" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Validation Type -->
  <xsd:complexType name="ValidationType">
    <xsd:sequence>
      <xsd:element name="confirmationKey" type="tns:ConfirmationKeyType" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfirmationKeyType">
    <xsd:sequence>
      <xsd:element name="digitValues" type="xsd:string"/>
      <xsd:element name="digitPositions" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="PTFIResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="tns:PTFIOperationDataResponseType"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage" type="tns:ErrorMessageType"/>
      <xsd:element name="validation" type="tns:ValidationType" minOccurs="0" nillable="true"/>
      <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- operationData for Response -->
  <xsd:complexType name="PTFIOperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="PTFI_O_0001" type="xsd:string"/>
      <xsd:element name="PTFI_O_0002" type="xsd:string"/>
      <xsd:element name="PTFI_O_0003" minOccurs="0" maxOccurs="unbounded" >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PTFI_O_0003_0001" type="xsd:string"/>
            <xsd:element name="PTFI_O_0003_0002" type="xsd:string"/>
            <xsd:element name="PTFI_O_0003_0003" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PTFI_O_0004" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ErrorMessage Type -->
  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:anyType" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>