GetAllOtherBankTransfer/Resources/GetAllOtherBankTransfers.wsdl

<wsdl:definitions name="GetAllOtherBankTransfers" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/GetAllOtherBankTransfer/GetAllOtherBankTransfers" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/GetAllOtherBankTransfer/GetAllOtherBankTransfers" xmlns:inp1="http://www.mozabanca.org/obdx/INSTRUCTION_LIST" xmlns:inp2="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_LIST" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_DETAILS" xmlns:inp4="http://www.mozabanca.org/obdx/INSTRUCTION_READ" xmlns:inp5="http://www.mozabanca.org/obdx/CANCEL_INSTRUCTION">
    <plnk:partnerLinkType name="GetAllOtherBankTransfers">
        <plnk:role name="GetAllOtherBankTransfersProvider" portType="tns:GetAllOtherBankTransfers_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/INSTRUCTION_LIST" schemaLocation="../INSTRUCTION_LIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_LIST" schemaLocation="../OUTWARD_REMITTANCE_LIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_DETAILS" schemaLocation="../OUTWARD_REMITTANCE_DETAILS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/INSTRUCTION_READ" schemaLocation="../INSTRUCTION_READ.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/CANCEL_INSTRUCTION" schemaLocation="../CANCEL_INSTRUCTION.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="INSTRUCTIONLIST_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="INSTRUCTIONLIST_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="OUTWARDREMITTANCELIST_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="OUTWARDREMITTANCELIST_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:message name="OUTWARDREMITTANSEDETAILS_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="OUTWARDREMITTANSEDETAILS_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:message name="INSTRUCTIONREAD_inputMessage">
        <wsdl:part name="request" element="inp4:Request"/>
    </wsdl:message>
    <wsdl:message name="INSTRUCTIONREAD_outputMessage">
        <wsdl:part name="reply" element="inp4:Response"/>
    </wsdl:message>
    <wsdl:message name="CANCELINSTRUCTION_inputMessage">
        <wsdl:part name="request" element="inp5:Request"/>
    </wsdl:message>
    <wsdl:message name="CANCELINSTRUCTION_outputMessage">
        <wsdl:part name="reply" element="inp5:Response"/>
    </wsdl:message>
    <wsdl:portType name="GetAllOtherBankTransfers_ptt">
        <wsdl:operation name="INSTRUCTIONLIST">
            <wsdl:input message="tns:INSTRUCTIONLIST_inputMessage"/>
            <wsdl:output message="tns:INSTRUCTIONLIST_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="OUTWARDREMITTANCELIST">
            <wsdl:input message="tns:OUTWARDREMITTANCELIST_inputMessage"/>
            <wsdl:output message="tns:OUTWARDREMITTANCELIST_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="OUTWARDREMITTANSEDETAILS">
            <wsdl:input message="tns:OUTWARDREMITTANSEDETAILS_inputMessage"/>
            <wsdl:output message="tns:OUTWARDREMITTANSEDETAILS_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="INSTRUCTIONREAD">
            <wsdl:input message="tns:INSTRUCTIONREAD_inputMessage"/>
            <wsdl:output message="tns:INSTRUCTIONREAD_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CANCELINSTRUCTION">
            <wsdl:input message="tns:CANCELINSTRUCTION_inputMessage"/>
            <wsdl:output message="tns:CANCELINSTRUCTION_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetAllOtherBankTransfers_ptt-binding" type="tns:GetAllOtherBankTransfers_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="INSTRUCTIONLIST">
            <soap:operation soapAction="INSTRUCTIONLIST"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OUTWARDREMITTANCELIST">
            <soap:operation soapAction="OUTWARDREMITTANCELIST"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OUTWARDREMITTANSEDETAILS">
            <soap:operation soapAction="OUTWARDREMITTANSEDETAILS"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="INSTRUCTIONREAD">
            <soap:operation soapAction="INSTRUCTIONREAD"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CANCELINSTRUCTION">
            <soap:operation soapAction="CANCELINSTRUCTION"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>