TermDeposit/Resources/GetProductDetails.wsdl

<wsdl:definitions name="GetProductDetails" targetNamespace="http://xmlns.oracle.com/MozaApplication/TermDeposit/GetProductDetails" xmlns:tns="http://xmlns.oracle.com/MozaApplication/TermDeposit/GetProductDetails" xmlns:inp1="http://www.mozabank.org/getTDProductDetails" xmlns:inp2="http://www.mozabank.org/TDMaturityAmountCalculation" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://www.mozabank.org/CAPP">
    <plnk:partnerLinkType name="GetProductDetails">
        <plnk:role name="GetProductDetailsProvider" portType="tns:GetProductDetails_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/getTDProductDetails" schemaLocation="Schema/GetTDProductDetails.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/CAPP" schemaLocation="Schema/CAPP.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MaturityAmountCalc_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="MaturityAmountCalc_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="ProductList_outputMessage">
        <wsdl:part name="reply" element="inp1:ResponseList"/>
    </wsdl:message>
    <wsdl:message name="GetAllProducts_inputMessage">
        <wsdl:part name="request" element="inp3:CAPPRequestString"/>
    </wsdl:message>
    <wsdl:message name="GetAllProducts_outputMessage">
        <wsdl:part name="reply" element="inp1:ResponseList"/>
    </wsdl:message>
    <wsdl:portType name="GetProductDetails_ptt">
        <wsdl:operation name="MaturityAmountCalc">
            <wsdl:input message="tns:MaturityAmountCalc_inputMessage"/>
            <wsdl:output message="tns:MaturityAmountCalc_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProductList">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:ProductList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllProducts">
            <wsdl:input message="tns:GetAllProducts_inputMessage"/>
            <wsdl:output message="tns:GetAllProducts_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetProductDetails_ptt-binding" type="tns:GetProductDetails_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MaturityAmountCalc">
            <soap:operation soapAction="MaturityAmountCalc"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProductList">
            <soap:operation soapAction="ProductList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllProducts">
            <soap:operation soapAction="GetAllProducts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>