TermDeposit/Resources/GetProductDetails.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.mozabank.org/getTDProductDetails" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns0="http://www.mozabank.org/CAPP">
   <doc title="GetProductDetails">RestReference</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabank.org/getTDProductDetails" schemaLocation="Schema/GetTDProductDetails.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabank.org/CAPP" schemaLocation="Schema/CAPP.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/byId">
         <method name="GET" soa:wsdlOperation="MaturityAmountCalc">
            <request soa:paramElement="pns:Request" xmlns:pns="http://www.mozabank.org/getTDProductDetails">
               <param name="id" style="query" soa:expression="$msg.request/tns:idVal" type="xsd:integer"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:Response" xmlns:cns="http://www.mozabank.org/getTDProductDetails"/>
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabank.org/getTDProductDetails"/>
            </response>
         </method>
      </resource>
      <resource path="/{value}">
         <method name="GET" soa:wsdlOperation="GetAllProducts">
            <request soa:paramElement="pns:CAPPRequestString" xmlns:pns="http://www.mozabank.org/CAPP">
               <param name="value" style="template" soa:expression="$msg.request/ns0:RequestString" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:ResponseList" xmlns:cns="http://www.mozabank.org/getTDProductDetails"/>
               <representation mediaType="application/json" element="cns:ResponseList" xmlns:cns="http://www.mozabank.org/getTDProductDetails"/>
            </response>
         </method>
      </resource>
   </resources>
</application>