TermDeposit/Resources/TDOpen_BS.wsdl

<wsdl:definitions name="TDOpen_BS" targetNamespace="http://xmlns.oracle.com/MozaApplication/TermDeposit/TDOpen_BS" xmlns:tns="http://xmlns.oracle.com/MozaApplication/TermDeposit/TDOpen_BS" xmlns:inp1="http://www.mozabank.org/TDOpen" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabank.org/CAPP">
    <plnk:partnerLinkType name="TDOpen_BS">
        <plnk:role name="TDOpen_BSProvider" portType="tns:TDOpen_BS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/TDOpen" schemaLocation="TD_OPEN.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/CAPP" schemaLocation="Schema/CAPP.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="TDOpen_inputMessage">
        <wsdl:part name="request" element="inp2:CAPPRequest"/>
    </wsdl:message>
    <wsdl:message name="TDOpen_outputMessage">
        <wsdl:part name="reply" element="inp2:CAPPResponse"/>
    </wsdl:message>
    <wsdl:portType name="TDOpen_BS_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TDOpen">
            <wsdl:input message="tns:TDOpen_inputMessage"/>
            <wsdl:output message="tns:TDOpen_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TDOpen_BS_ptt-binding" type="tns:TDOpen_BS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TDOpen">
            <soap:operation soapAction="TDOpen"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>