TermDeposit/Resources/TDStatementItemList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/TD_STATEMENT_ITEM_LIST"
            targetNamespace="http://www.mozabank.org/TD_STATEMENT_ITEM_LIST" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <xsd:element name="TDStatementItemListRequest" type="tns:RequestType"/>
  <xsd:element name="TDStatementItemListResponse" type="tns:dataType"/>
  <xsd:complexType name="RequestType">
    <xsd:sequence>
    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="noOfTransactions" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="transactionType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fromAmount" type="xsd:decimal" minOccurs="0" nillable="true"/>
      <xsd:element name="toAmount" type="xsd:decimal" minOccurs="0" nillable="true"/>
      <xsd:element name="fromDate" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="toDate" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="searchByType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="refNum" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="dataType">
    <xsd:sequence>
      <xsd:element name="data" type="tns:ResponseType"/>
      </xsd:sequence>
      </xsd:complexType>
  
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="tns:ResultType"/>
      <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="statementItemList" type="tns:StatementItemType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatementItemType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="externalReferenceId" type="xsd:string"/>
      <xsd:element name="branchId" type="xsd:string"/>
      <xsd:element name="transactionType" type="xsd:string"/>
      <xsd:element name="amount" type="tns:AmountType"/>
      <xsd:element name="date" type="tns:DateType"/>
      <xsd:element name="description" type="xsd:string"/>
      <xsd:element name="valueDate" type="tns:DateType"/>
      <xsd:element name="creditAccountId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="postingDate" type="tns:DateType"/>
      <xsd:element name="subSequenceNumber" type="xsd:string"/>
      <xsd:element name="creditDebitFlag" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DateType">
    <xsd:sequence>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="sqlDate" type="xsd:long"/>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="monthDate" type="xsd:int"/>
      <xsd:element name="monthDateTime" type="xsd:long"/>
      <xsd:element name="weekOfYear" type="xsd:int"/>
      <xsd:element name="lastDayOfMonth" type="xsd:int"/>
      <xsd:element name="sqltimestamp" type="xsd:long"/>
      <xsd:element name="year" type="xsd:int"/>
      <xsd:element name="dayOfMonth" type="xsd:int"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:int"/>
      <xsd:element name="time" type="xsd:long"/>
      <xsd:element name="timestamp" type="xsd:long"/>
      <xsd:element name="month" type="xsd:int"/>
      <xsd:element name="dayOfWeek" type="xsd:int"/>
      <xsd:element name="millis" type="xsd:long"/>
      <xsd:element name="yearMonth" type="xsd:int"/>
      <xsd:element name="yearMonthDate" type="xsd:int"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>