TermDeposit/Resources/TermDepositService.wsdl

<wsdl:definitions name="TermDepositService" targetNamespace="http://xmlns.oracle.com/MozaApplication/TermDeposit/TermDepositService" xmlns:tns="http://xmlns.oracle.com/MozaApplication/TermDeposit/TermDepositService" xmlns:inp1="http://www.mozabank.org/TDOpen" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabank.org/TDMaturityAmountCalculation" xmlns:inp3="http://www.mozabanca.org/obdx/td_product_list">
    <plnk:partnerLinkType name="TermDepositService">
        <plnk:role name="TermDepositServiceProvider" portType="tns:TermDepositService_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/TDOpen" schemaLocation="Schema/TD_OPEN.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/TDMaturityAmountCalculation" schemaLocation="Schema/TD_MATURITY_AMOUNT_CALCULATION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/td_product_list" schemaLocation="TD_PRODUCT_LIST.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="TDOpen_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="TDOpen_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="TDMaturityAmount_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="TDMaturityAmount_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:message name="TDProductDetails_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="TDProductDetails_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:portType name="TermDepositService_ptt">
        <wsdl:operation name="TDOpen">
            <wsdl:input message="tns:TDOpen_inputMessage"/>
            <wsdl:output message="tns:TDOpen_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TDMaturityAmount">
            <wsdl:input message="tns:TDMaturityAmount_inputMessage"/>
            <wsdl:output message="tns:TDMaturityAmount_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TDProductDetails">
            <wsdl:input message="tns:TDProductDetails_inputMessage"/>
            <wsdl:output message="tns:TDProductDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TermDepositService_ptt-binding" type="tns:TermDepositService_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TDOpen">
            <soap:operation soapAction="TDOpen"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TDMaturityAmount">
            <soap:operation soapAction="TDMaturityAmount"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="TDProductDetails">
            <soap:operation soapAction="TDProductDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>