TermDeposit/Resources/TermDepositService.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.mozabank.org/TDOpen" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns0="http://www.mozabank.org/TDMaturityAmountCalculation" xmlns:ns1="http://www.mozabanca.org/obdx/td_product_list">
   <doc title="TermDepositService">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabank.org/TDOpen" schemaLocation="Schema/TD_OPEN.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabank.org/TDMaturityAmountCalculation" schemaLocation="Schema/TD_MATURITY_AMOUNT_CALCULATION.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabanca.org/obdx/td_product_list" schemaLocation="TD_PRODUCT_LIST.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/termdeposit-open">
         <method name="POST" soa:wsdlOperation="TDOpen">
            <request>
               <representation mediaType="application/xml" element="cns:Request" xmlns:cns="http://www.mozabank.org/TDOpen"/>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabank.org/TDOpen"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:Response" xmlns:cns="http://www.mozabank.org/TDOpen"/>
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabank.org/TDOpen"/>
            </response>
         </method>
      </resource>
      <resource path="/td-maturity-amount">
         <method name="POST" soa:wsdlOperation="TDMaturityAmount">
            <request>
               <representation mediaType="application/xml" element="cns:Request" xmlns:cns="http://www.mozabank.org/TDMaturityAmountCalculation"/>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabank.org/TDMaturityAmountCalculation"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:Response" xmlns:cns="http://www.mozabank.org/TDMaturityAmountCalculation"/>
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabank.org/TDMaturityAmountCalculation"/>
            </response>
         </method>
      </resource>
      <resource path="/td-product-details-list">
         <method name="POST" soa:wsdlOperation="TDProductDetails">
            <request>
               <representation mediaType="application/xml" element="cns:Request" xmlns:cns="http://www.mozabanca.org/obdx/td_product_list"/>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabanca.org/obdx/td_product_list"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:Response" xmlns:cns="http://www.mozabanca.org/obdx/td_product_list"/>
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabanca.org/obdx/td_product_list"/>
            </response>
         </method>
      </resource>
   </resources>
</application>