GetAllInternalBankTransfer/Resources/CTFI_PS.wsdl

<wsdl:definitions name="CTFI_PS" targetNamespace="http://xmlns.oracle.com/LOT2/GetAllInternalBankTransfer/CTFI_PS" xmlns:tns="http://xmlns.oracle.com/LOT2/GetAllInternalBankTransfer/CTFI_PS" xmlns:inp1="http://www.mozabanca.org/obdx/instruction_list" xmlns:inp2="http://www.mozabanca.org/obdx/instruction_read" xmlns:inp3="http://www.mozabanca.org/obdx/outward_remittance_details" xmlns:inp4="http://www.mozabanca.org/obdx/outward_remittance_list" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="CTFI_PS">
        <plnk:role name="CTFI_PSProvider" portType="tns:CTFI_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/instruction_list" schemaLocation="../XSD/INSTRUCTION_LIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/instruction_read" schemaLocation="../XSD/INSTRUCTION_READ.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/outward_remittance_details" schemaLocation="../XSD/OUTWARD_REMITTANCE_DETAILS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/outward_remittance_list" schemaLocation="../XSD/OUTWARD_REMITTANCE_LIST.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="instructionList_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="instructionList_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="instructionRead_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="instructionRead_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:message name="outwardDetails_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="outwardDetails_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:message name="outwardList_inputMessage">
        <wsdl:part name="request" element="inp4:Request"/>
    </wsdl:message>
    <wsdl:message name="outwardList_outputMessage">
        <wsdl:part name="reply" element="inp4:Response"/>
    </wsdl:message>
    <wsdl:portType name="CTFI_PS_ptt">
        <wsdl:operation name="instructionList">
            <wsdl:input message="tns:instructionList_inputMessage"/>
            <wsdl:output message="tns:instructionList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="instructionRead">
            <wsdl:input message="tns:instructionRead_inputMessage"/>
            <wsdl:output message="tns:instructionRead_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="outwardDetails">
            <wsdl:input message="tns:outwardDetails_inputMessage"/>
            <wsdl:output message="tns:outwardDetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="outwardList">
            <wsdl:input message="tns:outwardList_inputMessage"/>
            <wsdl:output message="tns:outwardList_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CTFI_PS_ptt-binding" type="tns:CTFI_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="instructionList">
            <soap:operation soapAction="instructionList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="instructionRead">
            <soap:operation soapAction="instructionRead"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="outwardDetails">
            <soap:operation soapAction="outwardDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="outwardList">
            <soap:operation soapAction="outwardList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>