GetAllInternalBankTransfer/Resources/CTFI_PS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://www.mozabanca.org/obdx/instruction_list" xmlns:ns3="http://www.mozabanca.org/obdx/outward_remittance_list" xmlns:ns2="http://www.mozabanca.org/obdx/outward_remittance_details" xmlns:ns1="http://www.mozabanca.org/obdx/instruction_read" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="CTFI_PS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabanca.org/obdx/instruction_list" schemaLocation="../XSD/INSTRUCTION_LIST.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabanca.org/obdx/instruction_read" schemaLocation="../XSD/INSTRUCTION_READ.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabanca.org/obdx/outward_remittance_details" schemaLocation="../XSD/OUTWARD_REMITTANCE_DETAILS.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.mozabanca.org/obdx/outward_remittance_list" schemaLocation="../XSD/OUTWARD_REMITTANCE_LIST.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/instructionList">
         <method name="POST" soa:wsdlOperation="instructionList">
            <request>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabanca.org/obdx/instruction_list"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabanca.org/obdx/instruction_list"/>
            </response>
         </method>
      </resource>
      <resource path="/instructionRead">
         <method name="POST" soa:wsdlOperation="instructionRead">
            <request>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabanca.org/obdx/instruction_read"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabanca.org/obdx/instruction_read"/>
            </response>
         </method>
      </resource>
      <resource path="/outwardDetails">
         <method name="POST" soa:wsdlOperation="outwardDetails">
            <request>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabanca.org/obdx/outward_remittance_details"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabanca.org/obdx/outward_remittance_details"/>
            </response>
         </method>
      </resource>
      <resource path="/outwardList">
         <method name="POST" soa:wsdlOperation="outwardList">
            <request>
               <representation mediaType="application/json" element="cns:Request" xmlns:cns="http://www.mozabanca.org/obdx/outward_remittance_list"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:Response" xmlns:cns="http://www.mozabanca.org/obdx/outward_remittance_list"/>
            </response>
         </method>
      </resource>
   </resources>
</application>