Pre-generatedAcntStatement-CreditCard/CC_LIST_STMT_OBDX.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/CC_LIST_STMT"
            xmlns="http://www.mozabanca.org/obdx/CC_LIST_STMT" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="statementMonth" type="xsd:string"/>
      <xsd:element name="statementYear" type="xsd:string"/>
      <xsd:element name="q" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="sortBy" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="count" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="fromAmount" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="toAmount" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string"/>
            <xsd:element name="result">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="status" type="xsd:string"/>
                  <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <!--<xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>-->
                  <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="creditCardStatements" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="openingBalance" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="earnedPoints" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="redeemedPoints" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="closingBalance" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="id" type="xsd:string"/>
                  <xsd:element name="statementDate" type="xsd:dateTime"/>
                  <xsd:element name="statmentItems" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="fromDate" type="xsd:dateTime"/>
                  <xsd:element name="toDate" type="xsd:dateTime"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="messages">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="keyId" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="status" type="xsd:string"/>
                  <xsd:element name="codes" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence/>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="requestId" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="httpStatusCode" type="xsd:string"/>
                  <xsd:element name="overrideAuthLevelsReqd" type="xsd:string" minOccurs="0" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Shared Date Info Type -->
  <xsd:complexType name="DateInfoType">
    <xsd:sequence>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="monthDate" type="xsd:string"/>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="monthDateTime" type="xsd:string"/>
      <xsd:element name="weekOfYear" type="xsd:unsignedByte"/>
      <xsd:element name="lastDayOfMonth" type="xsd:unsignedByte"/>
      <xsd:element name="sqltimestamp" type="xsd:unsignedLong"/>
      <xsd:element name="time" type="xsd:unsignedByte"/>
      <xsd:element name="timestamp" type="xsd:unsignedLong"/>
      <xsd:element name="sqlDate" type="xsd:unsignedLong"/>
      <xsd:element name="yearMonth" type="xsd:unsignedInt"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:unsignedShort"/>
      <xsd:element name="month" type="xsd:unsignedByte"/>
      <xsd:element name="dayOfWeek" type="xsd:unsignedByte"/>
      <xsd:element name="millis" type="xsd:unsignedLong"/>
      <xsd:element name="yearMonthDate" type="xsd:unsignedInt"/>
      <xsd:element name="year" type="xsd:unsignedShort"/>
      <xsd:element name="dayOfMonth" type="xsd:unsignedByte"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>