LoginService/Resources/LoginPS.wsdl

<wsdl:definitions name="LoginPS" targetNamespace="http://xmlns.oracle.com/OBDX-MOZA/LoginService/LoginPS" xmlns:tns="http://xmlns.oracle.com/OBDX-MOZA/LoginService/LoginPS" xmlns:inp1="http://www.mozabank.org/ReadParty" xmlns:inp2="http://www.mozabank.org/PartyAddressList" xmlns:inp3="http://www.mozabank.org/PartyContactList" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp4="http://www.mozabank.org/SearchParty">
    <plnk:partnerLinkType name="LoginPS">
        <plnk:role name="LoginPSProvider" portType="tns:LoginPS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ReadParty" schemaLocation="ReadParty.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/PartyAddressList" schemaLocation="PartyAddressList.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/PartyContactList" schemaLocation="PartyContactList.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/SearchParty" schemaLocation="SearchParty.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation2_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation2_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation3_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation3_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation4_inputMessage">
        <wsdl:part name="request" element="inp4:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation4_outputMessage">
        <wsdl:part name="reply" element="inp4:Response"/>
    </wsdl:message>
    <wsdl:portType name="LoginPS_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <wsdl:input message="tns:Operation2_inputMessage"/>
            <wsdl:output message="tns:Operation2_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation3">
            <wsdl:input message="tns:Operation3_inputMessage"/>
            <wsdl:output message="tns:Operation3_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation4">
            <wsdl:input message="tns:Operation4_inputMessage"/>
            <wsdl:output message="tns:Operation4_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoginPS_ptt-binding" type="tns:LoginPS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <soap:operation soapAction="Operation2"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation3">
            <soap:operation soapAction="Operation3"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation4">
            <soap:operation soapAction="Operation4"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>