LoginService/Resources/ReadParty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/ReadParty" targetNamespace="http://www.mozabank.org/ReadParty"
            elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="JSON"
            nxsd:encoding="US-ASCII">
  <!-- Request Element -->
  <xsd:element name="Request">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="dictionaryArray" type="xsd:string"/>
        <xsd:element name="referenceNo" type="xsd:string" minOccurs="1"/>
        <xsd:element name="interfaceId" type="xsd:string" minOccurs="1"/>
        <xsd:element name="entity" type="xsd:string" minOccurs="1"/>
        <xsd:element name="headersMap" minOccurs="0"    nillable="true" />
        <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="hostName" type="xsd:string" minOccurs="1"/>
        <xsd:element name="partyId" type="xsd:string" minOccurs="1"/>
        <xsd:element name="branch" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="type" type="xsd:string" minOccurs="0" nillable="true"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Response Element -->
  <xsd:element name="Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="result">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="1"/>
                   <xsd:element name="errorList" maxOccurs="unbounded" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="message" type="xsd:string" minOccurs="0" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
                    <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
              <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
              <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
              <!-- Personal Info -->
              <xsd:element name="personalInfo">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="salutation" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="gender" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="firstName" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="middleName" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="lastName" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="maritalStatus" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="birthDate">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="dateString" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="monthDate" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="calendarDayOfWeek" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="monthDateTime" type="xsd:long" minOccurs="1"/>
                          <xsd:element name="weekOfYear" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="lastDayOfMonth" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="sqltimestamp" type="xsd:long" minOccurs="1"/>
                          <xsd:element name="sqlDate" type="xsd:long" minOccurs="1"/>
                          <xsd:element name="yearMonthDate" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="time" type="xsd:long" minOccurs="1"/>
                          <xsd:element name="timestamp" type="xsd:long" minOccurs="1"/>
                          <xsd:element name="yearMonth" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="month" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="dayOfWeek" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="millis" type="xsd:long" minOccurs="1"/>
                          <xsd:element name="leapYear" type="xsd:boolean" minOccurs="1"/>
                          <xsd:element name="dayOfYear" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="year" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="dayOfMonth" type="xsd:int" minOccurs="1"/>
                          <xsd:element name="infinite" type="xsd:boolean" minOccurs="1"/>
                          <xsd:element name="null" type="xsd:boolean" minOccurs="1"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="email" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="fullName" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="partyType" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="addressInfo" minOccurs="0"  maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="line1" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="line2" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="line3" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line4" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line5" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line6" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line7" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line8" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line9" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line10" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line11" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="line12" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="city" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="addressTypeDescription" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="state" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="country" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="zipCode" type="xsd:string" minOccurs="0" nillable="true"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <!-- Contact Info -->
              <xsd:element name="contactInfo" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="isEmailCommunicationAllowed" type="xsd:boolean" minOccurs="0" nillable="true"/>
                    <xsd:element name="preferredModeOfCommunication" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="contactType" type="xsd:string"/>
                    <xsd:element name="phone" minOccurs="0">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                          <xsd:element name="areaCode" type="xsd:string"/>
                          <xsd:element name="number" type="xsd:string"/>
                          <xsd:element name="extension" type="xsd:string" minOccurs="0" nillable="true"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="fax" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="email" type="xsd:string" minOccurs="0" nillable="true"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="partyId" type="xsd:string"/>
              <xsd:element name="location" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="liabCCY" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="shortName" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="branch" type="xsd:string" minOccurs="0" nillable="true"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>