FetchProvidersOperators/Schema/OPERATOR_LIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/OPERATOR_LIST"
            xmlns="http://www.mozabanca.org/obdx/OPERATOR_LIST"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType" nxsd:jsonRootElement="true"/>
  <xsd:element name="Response" type="ResponseType" nxsd:jsonRootElement="true"/>

  <!-- Request Type -->
  <xsd:complexType name="RequestType" nxsd:mapOrder="dictionaryArray referenceNo interfaceId entity headersMap queryMap hostName">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response Type -->
  <xsd:complexType name="ResponseType" nxsd:mapOrder="dictionaryArray referenceNo result hasMore totalRecords startSequence operatorList">
    <xsd:sequence>
       <xsd:element name="data">
<xsd:complexType>
<xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="ResultType"/>
      <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
      <!-- operatorList as a JSON array -->
      <xsd:element name="operatorList" type="OperatorType"
                   minOccurs="0" maxOccurs="unbounded"
                   nxsd:jsonArray="true"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

  <!-- Result Type -->
  <xsd:complexType name="ResultType" nxsd:mapOrder="dictionaryArray externalReferenceId status errorList warningList">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
        <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="code" type="xsd:string"/>
              <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
      </xsd:element>      
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Operator Type -->
  <xsd:complexType name="OperatorType" nxsd:mapOrder="dictionaryArray operatorCode operatorName">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="operatorCode" type="xsd:string"/>
      <xsd:element name="operatorName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>