CASA/CASAListV1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/ccdo_casalist" targetNamespace="http://www.mozabank.org/ccdo_casalist"
            elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="Request" type="tns:RequestType"/>
  <xsd:element name="Response">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="result">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
              <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
              <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
              <xsd:element name="accounts" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="partyId" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="branchId" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="accountId" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="currency" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="availableBalance">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="currency" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="amount" type="xsd:decimal" minOccurs="1"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="averageBalance" type="xsd:decimal" minOccurs="0" nillable="true"/>
                    <xsd:element name="interestType" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="interestRate" type="xsd:decimal" minOccurs="0" nillable="true"/>
                    <xsd:element name="openingDate" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="accountDisplayName" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="currentBalance">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="currency" type="xsd:string" minOccurs="1"/>
                          <xsd:element name="amount" type="xsd:decimal" minOccurs="1"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="productId" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="accountType" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="holdingPattern" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="hasSweepOutInstruction" type="xsd:boolean" minOccurs="1"/>
                    <xsd:element name="averageQuarterlyBalance" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="averageMonthlyBalance" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="lienAmount" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="sweepInAmount" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="unclearFund" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="fundsAdvanceLimit" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="hasChequeBookFacility" type="xsd:boolean" minOccurs="1"/>
                    <xsd:element name="accountStatusCode" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="minBalance" type="xsd:int" minOccurs="1"/>
                    <xsd:element name="bookBalance" type="xsd:int" minOccurs="1"/>
                    <xsd:element name="customerShortName" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="idCustomer" type="xsd:string" minOccurs="1"/>
                    <xsd:element name="nbrBranch" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="nbrAccount" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="sortCode" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="modeOfOperation" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="balance" type="xsd:decimal"/>
                    <xsd:element name="acctType" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="ccyDesc" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="descAcctType" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="relation" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="overdraftUsageLimit" type="xsd:decimal"/>
                    <xsd:element name="hasSweepOutFacility" type="xsd:boolean"/>
                    <xsd:element name="hasSweepInFacility" type="xsd:boolean"/>
                    <xsd:element name="hasSIFacility" type="xsd:boolean"/>
                    <xsd:element name="hasOverdraftFacility" type="xsd:boolean"/>
                    <xsd:element name="unclearFunds" type="xsd:decimal"/>
                    <xsd:element name="productCode" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="productName" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="holdAmount" type="xsd:decimal"/>
                    <xsd:element name="dailyWithdrawalLimit" type="xsd:decimal"/>
                    <xsd:element name="netBalance" type="xsd:decimal"/>
                    <xsd:element name="accountModule" type="xsd:string"/>
                    <xsd:element name="isLMEnabled" type="xsd:boolean"/>
                    <xsd:element name="partyAccountRelationship" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="hostRelationshipCode" type="xsd:string" minOccurs="0" nillable="true"/>
                    <xsd:element name="iban" type="xsd:string"/>
                    <xsd:element name="noOfDebitCards" type="xsd:int"/>
                    <xsd:element name="atmEnabled" type="xsd:boolean"/>
                    <xsd:element name="nomineeRegistered" type="xsd:boolean"/>
                    <xsd:element name="lmenabled" type="xsd:boolean"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="1"/>
      <xsd:element name="interfaceId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="entity" type="xsd:string" minOccurs="1"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string" minOccurs="1"/>
      <xsd:element name="accountList">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="account" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="status">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="status" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="module" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="branchCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="partyId" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
</xsd:schema>