TDTopUp/Resources/TopUpTD_PS.wsdl

<wsdl:definitions name="TopUpTD_PS" targetNamespace="http://xmlns.oracle.com/LOT2/TDTopUp/TopUpTD_PS" xmlns:tns="http://xmlns.oracle.com/LOT2/TDTopUp/TopUpTD_PS" xmlns:inp1="http://www.mozabanca.org/obdx/td_topup" xmlns:inp2="http://www.mozabanca.org/obdx/td_topup_projection" xmlns:inp3="http://www.mozabanca.org/obdx/td_list_basic_details" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="TopUpTD_PS">
        <plnk:role name="TopUpTD_PSProvider" portType="tns:TopUpTD_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/td_topup" schemaLocation="../XSD/TD_TOPUP.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/td_topup_projection" schemaLocation="../XSD/TD_TOPUP_PROJECTION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/td_list_basic_details" schemaLocation="../XSD/TD_LIST_BASIC_DETAILS.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="TdTopUp_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="TdTopUp_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="TdProjection_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="TdProjection_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:message name="TdBasicDetails_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="TdBasicDetails_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:portType name="TopUpTD_PS_ptt">
        <wsdl:operation name="TdTopUp">
            <wsdl:input message="tns:TdTopUp_inputMessage"/>
            <wsdl:output message="tns:TdTopUp_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TdProjection">
            <wsdl:input message="tns:TdProjection_inputMessage"/>
            <wsdl:output message="tns:TdProjection_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="TdBasicDetails">
            <wsdl:input message="tns:TdBasicDetails_inputMessage"/>
            <wsdl:output message="tns:TdBasicDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TopUpTD_PS_ptt-binding" type="tns:TopUpTD_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TdTopUp">
            <soap:operation soapAction="TdTopUp"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TdProjection">
            <soap:operation soapAction="TdProjection"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TdBasicDetails">
            <soap:operation soapAction="TdBasicDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>