SessionParams/Resources/QueryExchangeRates_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryExchangeRates" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryExchangeRates" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XchgRateCachedResultCollection" type="XchgRateCachedResultCollection"/>
   <xs:complexType name="XchgRateCachedResultCollection">
      <xs:sequence>
         <xs:element name="XchgRateCachedResult" type="XchgRateCachedResult" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XchgRateCachedResult">
      <xs:sequence>
         <xs:element name="currency1" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="currency2" type="string50" nillable="true"/>
         <xs:element name="eventtimestamp" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="exchangeRatesResponse" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="minutetimestamp" type="string20" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QueryExchangeRatesSelect_curr1InputParameters" type="QueryExchangeRatesSelect_curr1"/>
   <xs:complexType name="QueryExchangeRatesSelect_curr1">
      <xs:sequence>
         <xs:element name="curr1" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>