CASA/Resources/CASA_PartyList_SummaryPS.wsdl

<wsdl:definitions name="CASA_PartyList_SummaryPS" targetNamespace="http://xmlns.oracle.com/MozaApplication/CASA/CASA_PartyList_SummaryPS" xmlns:tns="http://xmlns.oracle.com/MozaApplication/CASA/CASA_PartyList_SummaryPS" xmlns:inp1="http://www.mozabank.org/ccdo_party_casa_accounts_list" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabank.org/ccdo_casaaccount_partylist_summary">
    <plnk:partnerLinkType name="CASA_PartyList_SummaryPS">
        <plnk:role name="CASA_PartyList_SummaryPSProvider" portType="tns:CASA_PartyList_SummaryPS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_party_casa_accounts_list" schemaLocation="../XSD/PARTY_CASA_ACCOUNTS_LIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_casaaccount_partylist_summary" schemaLocation="../XSD/CASAACCOUNT_PARTYLIST_SUMMARY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AccountPartylisSummary_inputMessage">
        <wsdl:part name="request" element="inp1:CasaPartyAccountListRequest"/>
    </wsdl:message>
    <wsdl:message name="AccountPartylisSummary_outputMessage">
        <wsdl:part name="reply" element="inp1:CasaPartyAccountListResponse"/>
    </wsdl:message>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:CasaPartyAccountListResponse"/>
    </wsdl:message>
    <wsdl:portType name="CASA_PartyList_SummaryPS_ptt">
        <wsdl:operation name="AccountPartylisSummary">
            <wsdl:input message="tns:AccountPartylisSummary_inputMessage"/>
            <wsdl:output message="tns:AccountPartylisSummary_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CASA_PartyList_SummaryPS_ptt-binding" type="tns:CASA_PartyList_SummaryPS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AccountPartylisSummary">
            <soap:operation soapAction="AccountPartylisSummary"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>