CASA/Resources/GetAllProductsCASA.wsdl

<wsdl:definitions name="PatyCasaAccountList" targetNamespace="http://xmlns.oracle.com/MozaApplication/CASA/PatyCasaAccountList" xmlns:tns="http://xmlns.oracle.com/MozaApplication/CASA/PatyCasaAccountList" xmlns:inp1="http://www.mozabank.org/ccdo_party_casa_accounts_list" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabank.org/ccdo_casa_product_details" xmlns:inp3="http://www.mozabank.org/ccdo_casalist" xmlns:inp4="http://www.mozabank.org/ccdo_casaaccount_partylist_summary" xmlns:inp5="http://www.mozabank.org/ccdo_casa_account_parties" xmlns:inp6="http://www.mozabank.org/ccdo_branch_list" xmlns:inp7="http://www.mozabank.org/CASARead" xmlns:inp8="http://www.mozabank.org/ccdo_casaaccount_partylist_summary">
    <plnk:partnerLinkType name="PatyCasaAccountList">
        <plnk:role name="PatyCasaAccountListProvider" portType="tns:PatyCasaAccountList_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_party_casa_accounts_list" schemaLocation="../XSD/PARTY_CASA_ACCOUNTS_LIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_casa_product_details" schemaLocation="../XSD/CASA_PRODUCT_DETAILS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_casalist" schemaLocation="../XSD/CASALIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_casa_account_parties" schemaLocation="../XSD/CASA_ACCOUNT_PARTIES.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_branch_list" schemaLocation="../XSD/BRANCH_LIST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/CASARead" schemaLocation="../XSD/CASA_READ.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/ccdo_casaaccount_partylist_summary" schemaLocation="../XSD/CASAACCOUNT_PARTYLIST_SUMMARY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CCOD_CDOD_inputMessage">
        <wsdl:part name="request" element="inp1:CasaPartyAccountListRequest"/>
    </wsdl:message>
    <wsdl:message name="CCOD_CDOD_outputMessage">
        <wsdl:part name="reply" element="inp1:CasaPartyAccountListResponse"/>
    </wsdl:message>
    <wsdl:message name="ProductDetails_inputMessage">
        <wsdl:part name="request" element="inp2:ProductInquiryRequest"/>
    </wsdl:message>
    <wsdl:message name="ProductDetails_outputMessage">
        <wsdl:part name="reply" element="inp2:ProductInquiryResponse"/>
    </wsdl:message>
    <wsdl:message name="CASAAccountList_inputMessage">
        <wsdl:part name="request" element="inp1:CasaPartyAccountListRequest"/>
    </wsdl:message>
    <wsdl:message name="CASAAccountList_outputMessage">
        <wsdl:part name="reply" element="inp1:CasaPartyAccountListResponse"/>
    </wsdl:message>
    <wsdl:message name="PartyCASAAccountList_inputMessage">
        <wsdl:part name="request" element="inp1:CasaPartyAccountListRequest"/>
    </wsdl:message>
    <wsdl:message name="PartyCASAAccountList_outputMessage">
        <wsdl:part name="reply" element="inp1:CasaPartyAccountListResponse"/>
    </wsdl:message>
    <wsdl:message name="AcccountParties_inputMessage">
        <wsdl:part name="request" element="inp5:CasaAccountPartiesRequest"/>
    </wsdl:message>
    <wsdl:message name="AcccountParties_outputMessage">
        <wsdl:part name="reply" element="inp5:CasaAccountPartiesResponse"/>
    </wsdl:message>
    <wsdl:message name="BranchList_inputMessage">
        <wsdl:part name="request" element="inp6:Request"/>
    </wsdl:message>
    <wsdl:message name="BranchList_outputMessage">
        <wsdl:part name="reply" element="inp6:Response"/>
    </wsdl:message>
    <wsdl:message name="CASARead_inputMessage">
        <wsdl:part name="request" element="inp7:Request"/>
    </wsdl:message>
    <wsdl:message name="CASARead_outputMessage">
        <wsdl:part name="reply" element="inp7:Response"/>
    </wsdl:message>
    <wsdl:message name="CASAList_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="CASAList_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:message name="AccountPartyListSummary_inputMessage">
        <wsdl:part name="request" element="inp4:Request"/>
    </wsdl:message>
    <wsdl:message name="AccountPartyListSummary_outputMessage">
        <wsdl:part name="reply" element="inp4:Response"/>
    </wsdl:message>
    <wsdl:message name="CasaList_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="CasaList_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:portType name="PatyCasaAccountList_ptt">
        <wsdl:operation name="CCOD_CDOD">
            <wsdl:input message="tns:CCOD_CDOD_inputMessage"/>
            <wsdl:output message="tns:CCOD_CDOD_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ProductDetails">
            <wsdl:input message="tns:ProductDetails_inputMessage"/>
            <wsdl:output message="tns:ProductDetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CASAAccountList">
            <wsdl:input message="tns:CASAAccountList_inputMessage"/>
            <wsdl:output message="tns:CASAAccountList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="PartyCASAAccountList">
            <wsdl:input message="tns:PartyCASAAccountList_inputMessage"/>
            <wsdl:output message="tns:PartyCASAAccountList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AcccountParties">
            <wsdl:input message="tns:AcccountParties_inputMessage"/>
            <wsdl:output message="tns:AcccountParties_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="BranchList">
            <wsdl:input message="tns:BranchList_inputMessage"/>
            <wsdl:output message="tns:BranchList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CASARead">
            <wsdl:input message="tns:CASARead_inputMessage"/>
            <wsdl:output message="tns:CASARead_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="CASAList">
            <wsdl:input message="tns:CASAList_inputMessage"/>
            <wsdl:output message="tns:CASAList_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AccountPartyListSummary">
            <wsdl:input message="tns:AccountPartyListSummary_inputMessage"/>
            <wsdl:output message="tns:AccountPartyListSummary_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PatyCasaAccountList_ptt-binding" type="tns:PatyCasaAccountList_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CCOD_CDOD">
            <soap:operation soapAction="CCOD_CDOD"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ProductDetails">
            <soap:operation soapAction="ProductDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CASAAccountList">
            <soap:operation soapAction="CASAAccountList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PartyCASAAccountList">
            <soap:operation soapAction="PartyCASAAccountList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AcccountParties">
            <soap:operation soapAction="AcccountParties"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BranchList">
            <soap:operation soapAction="BranchList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CASARead">
            <soap:operation soapAction="CASARead"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CASAList">
            <soap:operation soapAction="CASAList"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AccountPartyListSummary">
            <soap:operation soapAction="AccountPartyListSummary"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>