GetAllProductsCASAService/Schemas/OBDX_REQUEST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
    xmlns:tns="http://www.mozabank.org/exchange_rate_obdx"
    targetNamespace="http://www.mozabank.org/exchange_rate_obdx"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    nxsd:stream="json"
    nxsd:format="JSON"
    nxsd:version="NXSD"
    nxsd:encoding="US-ASCII">

  <!-- Root Elements -->
  <xsd:element name="Request" type="tns:InputParameters"/>
  <xsd:element name="Response" type="tns:OutputParameters"/>

  <!-- Input (Request) Parameters -->
  <xsd:complexType name="InputParameters">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="currency1" type="xsd:string"/>
      <xsd:element name="currency2" type="xsd:string"/>
      <xsd:element name="branchId" type="xsd:string"/>
      <xsd:element name="relationshipType" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Output (Response) Parameters -->
  <xsd:complexType name="OutputParameters">
    <xsd:sequence>
      <xsd:element name="data" type="tns:DataType"/>
      <xsd:element name="messages" type="tns:MessagesType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Data Type -->
  <xsd:complexType name="DataType">
    <xsd:sequence>
      <xsd:element name="result" type="tns:ResultType"/>
      <xsd:element name="exchangeRates" type="tns:ExchangeRateType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Result Type -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Exchange Rate Type -->
  <xsd:complexType name="ExchangeRateType">
    <xsd:sequence>
      <xsd:element name="currency2" type="xsd:string"/>
      <xsd:element name="currency1" type="xsd:string"/>
      <xsd:element name="branchId" type="xsd:string"/>
      <xsd:element name="rateType" type="xsd:string"/>
      <xsd:element name="midRate" type="xsd:string"/>
      <xsd:element name="buyRate" type="xsd:string"/>
      <xsd:element name="sellRate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Messages Type -->
  <xsd:complexType name="MessagesType">
    <xsd:sequence>
      <xsd:element name="keyId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="codes" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="requestId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="httpStatusCode" type="xsd:string"/>
      <xsd:element name="overrideAuthLevelsReqd" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>