SelfInternalTransferServices/Schema/OBDX Schema/INTERNAL_TRANSFER_SI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns="http://www.mozabank.org/INTERNAL_TRANSFER_SI"
            targetNamespace="http://www.mozabank.org/INTERNAL_TRANSFER_SI"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified" 
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>

  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="HeadersMapType"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="debitAccountId" type="xsd:string"/>
      <xsd:element name="amount" type="CurrencyAmountType"/>
      <xsd:element name="remarks" type="xsd:string"/>
      <xsd:element name="purposeId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostCode" type="xsd:string"/>
      <xsd:element name="txnBranch" type="xsd:string"/>
      <xsd:element name="networkCode" type="xsd:string"/>
      <xsd:element name="sourceCode" type="xsd:string"/>
      <xsd:element name="instructedCcyInd" type="xsd:string"/>
      <xsd:element name="beneficiary" type="BeneficiaryType"/>  
      <xsd:element name="instructionDetails" type="InstructionDetailsType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- HeadersMapType -->
  <xsd:complexType name="HeadersMapType">
    <xsd:sequence>
      <xsd:element name="branchID" type="xsd:string"/>
      <xsd:element name="msgID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- CurrencyAmountType -->
  <xsd:complexType name="CurrencyAmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- BeneficiaryType -->
  <xsd:complexType name="BeneficiaryType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountName" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- InstructionDetailsType -->
  <xsd:complexType name="InstructionDetailsType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="startDate" type="xsd:string"/>
      <xsd:element name="endDate" type="xsd:string"/>
      <xsd:element name="frequency" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="frequencyCode" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="frequencyNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="noofpayments" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response Type -->
   <xsd:complexType name="dataType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="ResultType"/>
      <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="splitable" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data" type="dataType" /> 
    </xsd:sequence>
  </xsd:complexType>

  <!-- ResultType -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>