BankAccountDetails/XSD/CGER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/CGER"
            xmlns="http://www.mozabanca.org/CGER" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">

    <!-- Request Root Element -->
    <xsd:element name="Request" type="RequestType" />
	
	
   <xsd:element name="CPCAEncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

    <!-- Response Root Element -->
    <xsd:element name="Response" type="ResponseType" />
	

    <!-- Request Type -->
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="user" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="origin" type="xsd:string"/>
            <xsd:element name="channelCode" type="xsd:string"/>
            <xsd:element name="version" type="xsd:string"/>
            <xsd:element name="licenceKey" type="xsd:string"/>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="transactionCode" type="xsd:string"/>
            <xsd:element name="operationData" type="OperationDataRequestType" minOccurs="1" nillable="false"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Operation Data Type -->
    <xsd:complexType name="OperationDataRequestType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Response Type -->
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
            <xsd:element name="transactionCode" type="xsd:string"/>
            <xsd:element name="operationData" type="OperationDataResponseType"/>
            <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="coreLogKey" type="xsd:string"/>
            <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="errorCode" type="xsd:string"/>
              <xsd:element name="errorMessage">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="messages" type="xsd:string"  maxOccurs="unbounded" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>           
            <xsd:element name="validation" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="user" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="licenceKey" type="xsd:string"/>
            <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="code" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="version" type="xsd:string"/>
            <xsd:element name="sessionId" type="xsd:string"/>
            <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="channelCode" type="xsd:string"/>
            <xsd:element name="origin" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
	
	<!-- Operation Data Type -->
    <xsd:complexType name="OperationDataResponseType">
        <xsd:sequence>
        <xsd:element name="CGER_O_0001" type="xsd:string"/>
        <xsd:element name="CGER_O_0002" type="xsd:string"/>
        <xsd:element name="CGER_O_0003" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="CGER_O_0004" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="CGER_O_0005" type="xsd:string"/>
        <xsd:element name="CGER_O_0006" type="xsd:string"/>
        <xsd:element name="CGER_O_0007" type="xsd:string"/>
        <xsd:element name="CGER_O_0008" type="xsd:string"/>
        <xsd:element name="CGER_O_0009" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="CGER_O_0010" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="CGER_O_0011" type="xsd:string"/>
        <xsd:element name="CGER_O_0012" type="xsd:string"/>
        <xsd:element name="CGER_O_0013" type="xsd:string" minOccurs="0" nillable="true"/>
        <xsd:element name="CGER_O_0014" type="xsd:string"/>
        <xsd:element name="CGER_O_0015" type="xsd:string"/>
        <xsd:element name="CGER_O_0016" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

  

</xsd:schema>