LoanDetails/Resources/CCRD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/CreditAccountDetails"
            targetNamespace="http://www.mozabank.org/CreditAccountDetails" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="CreditAccountDetailsRequest" type="tns:CreditAccountDetailsRequestType"/>
  <xsd:element name="CreditAccountDetailsResponse" type="tns:CreditAccountDetailsResponseType"/>
  <xsd:element name="CCRDRequestString">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestEncoded" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Request Type -->
  <xsd:complexType name="CreditAccountDetailsRequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="tns:CreditAccountOperationDataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditAccountOperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="CCRD_I_0001" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="CreditAccountDetailsResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="tns:CreditAccountOperationDataResponseType"/>
      <xsd:element name="errorCode" type="xsd:integer"/>
      <xsd:element name="errorMessage" type="tns:ErrorMessageType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreditAccountOperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="CCRD_O_0001" type="xsd:string"/>
      <xsd:element name="CCRD_O_0002" type="xsd:string"/>
      <xsd:element name="CCRD_O_0003" type="xsd:string"/>
      <xsd:element name="CCRD_O_0004" type="xsd:string"/>
      <xsd:element name="CCRD_O_0005" type="xsd:string"/>
      <xsd:element name="CCRD_O_0006" type="xsd:string"/>
      <xsd:element name="CCRD_O_0007" type="xsd:string"/>
      <xsd:element name="CCRD_O_0008" type="xsd:string"/>
      <xsd:element name="CCRD_O_0009" type="xsd:integer"/>
      <xsd:element name="CCRD_O_0010" type="xsd:string"/>
      <xsd:element name="CCRD_O_0011" type="xsd:string"/>
      <xsd:element name="CCRD_O_0012" type="xsd:integer"/>
      <xsd:element name="CCRD_O_0013" type="xsd:integer"/>
      <xsd:element name="CCRD_O_0014" type="xsd:string"/>
      <xsd:element name="CCRD_O_0015" type="xsd:string"/>
      <xsd:element name="CCRD_O_0016" type="xsd:string"/>
      <xsd:element name="CCRD_O_0017" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Error Message -->
  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>