LoanDetails/Resources/LoanScheduleDetails.wsdl

<wsdl:definitions name="LoanScheduleDetails" targetNamespace="http://xmlns.oracle.com/MozaApplication/LoanDetails/LoanScheduleDetails" xmlns:tns="http://xmlns.oracle.com/MozaApplication/LoanDetails/LoanScheduleDetails" xmlns:inp1="http://www.mozabank.org/LoanScheduleDetails" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabank.org/LoanOutstandingDetails" xmlns:inp3="http://www.mozabank.org/LoanAccountFetch" xmlns:inp4="http://www.mozabank.org/LoanDetails">
    <plnk:partnerLinkType name="LoanScheduleDetails">
        <plnk:role name="LoanScheduleDetailsProvider" portType="tns:LoanScheduleDetails_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/LoanScheduleDetails" schemaLocation="LOAN_SCHEDULE_DETAILS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/LoanOutstandingDetails" schemaLocation="LOAN_OUTSTANDING_DETAILS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/LoanAccountFetch" schemaLocation="LoanFetch/Schema/LOAN_ACCOUNTS_FETCH.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/LoanDetails" schemaLocation="LOAN_DETAILS.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="LoanScheduleDetails_inputMessage">
        <wsdl:part name="request" element="inp1:LoanScheduleDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="LoanScheduleDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:LoanScheduleDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="LoanOutstandingDetails_inputMessage">
        <wsdl:part name="request" element="inp2:LOAN_OUTSTANDING_DETAILSRequest"/>
    </wsdl:message>
    <wsdl:message name="LoanOutstandingDetails_outputMessage">
        <wsdl:part name="reply" element="inp2:LOAN_OUTSTANDING_DETAILSResponse"/>
    </wsdl:message>
    <wsdl:message name="LoanAccountFetch_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="LoanAccountFetch_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:message name="LoanDetails_inputMessage">
        <wsdl:part name="request" element="inp4:LoanDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="LoanDetails_outputMessage">
        <wsdl:part name="reply" element="inp4:LoanDetailsResponse"/>
    </wsdl:message>
    <wsdl:portType name="LoanScheduleDetails_ptt">
        <wsdl:operation name="LoanScheduleDetails">
            <wsdl:input message="tns:LoanScheduleDetails_inputMessage"/>
            <wsdl:output message="tns:LoanScheduleDetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="LoanOutstandingDetails">
            <wsdl:input message="tns:LoanOutstandingDetails_inputMessage"/>
            <wsdl:output message="tns:LoanOutstandingDetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="LoanAccountFetch">
            <wsdl:input message="tns:LoanAccountFetch_inputMessage"/>
            <wsdl:output message="tns:LoanAccountFetch_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="LoanDetails">
            <wsdl:input message="tns:LoanDetails_inputMessage"/>
            <wsdl:output message="tns:LoanDetails_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LoanScheduleDetails_ptt-binding" type="tns:LoanScheduleDetails_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="LoanScheduleDetails">
            <soap:operation soapAction="LoanScheduleDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LoanOutstandingDetails">
            <soap:operation soapAction="LoanOutstandingDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LoanAccountFetch">
            <soap:operation soapAction="LoanAccountFetch"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="LoanDetails">
            <soap:operation soapAction="LoanDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>