GetEscrowAccounts/MSB_Schema/CCCC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/cccc"
            xmlns="http://www.mozabanca.org/cccc"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="CCCCRequestType"/>
    
  <xsd:element name="CCCCEncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <xsd:element name="Response" type="CCCCResponseType"/>

  <!-- Request Type -->
  <xsd:complexType name="CCCCRequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="CCCCOperationDataRequest"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CCCCOperationDataRequest">
    <xsd:sequence>
      <xsd:element name="CCCC_I_0001" type="xsd:string"/>
      <xsd:element name="CCCC_I_0004" type="xsd:string"/>
      <xsd:element name="CCCC_I_0005" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response Type -->
  <xsd:complexType name="CCCCResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="CCCCOperationDataResponse"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0"/>
      <xsd:element name="coreLogKey" type="xsd:string" minOccurs="0"/>
      <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0"/>
              <xsd:element name="errorCode" type="xsd:string"/>
            <xsd:element name="errorMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        <xsd:element name="validation" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0"/>
      <xsd:element name="station" type="xsd:string" minOccurs="0"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string" minOccurs="0"/>
      <xsd:element name="code" type="xsd:string" minOccurs="0"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Operation Data for Response -->
  <xsd:complexType name="CCCCOperationDataResponse">
    <xsd:sequence>
      <xsd:element name="CCCC_O_0001" type="xsd:string"/>
      <xsd:element name="CCCC_O_0002" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003" type="CCCC_O_0003_Item" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>



  <!-- Escrow Account Item -->
  <xsd:complexType name="CCCC_O_0003_Item">
    <xsd:sequence>
      <xsd:element name="CCCC_O_0003_0001" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0002" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0003" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0004" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0005" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0006" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0007" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0008" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0009" type="xsd:string"/>
      <xsd:element name="CCCC_O_0003_0010" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Error Message -->
  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>