CASA/XSD/CASA_ACCOUNT_PARTIES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/ccdo_casa_account_parties"
            targetNamespace="http://www.mozabank.org/ccdo_casa_account_parties" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="CasaAccountPartiesRequest" type="tns:RequestType"/>
  <xsd:element name="CasaAccountPartiesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="data">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
              <xsd:element name="result" type="tns:ResultType"/>
              <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
              <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
              <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
              <xsd:element name="accounts" type="tns:AccountType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="partyId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountType" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="relationshipType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="branchCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <!-- Result Type -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Account Type -->
  <xsd:complexType name="AccountType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="branchId" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="accountType" type="xsd:string"/>
      <xsd:element name="accountDisplayName" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="currency" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="balance" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="currency" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="amount" type="xsd:decimal" minOccurs="0" nillable="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="interestType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="interestRate" type="xsd:decimal" minOccurs="0" nillable="true"/>
      <xsd:element name="openingDate" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="relationshipType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountModule" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="sortCode" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="relation" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="moduleType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="iban" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>