CASA/XSD/PARTY_CASA_ACCOUNTS_LIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.mozabank.org/ccdo_party_casa_accounts_list"
            targetNamespace="http://www.mozabank.org/ccdo_party_casa_accounts_list" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="CasaPartyAccountListRequest" type="tns:RequestType"/>
  <xsd:element name="CasaPartyAccountListResponse" type="tns:ResponseType"/>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="1"/>
      <xsd:element name="interfaceId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="entity" type="xsd:string" minOccurs="1"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string" minOccurs="1"/>
      <xsd:element name="partyId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="accountType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="relationshipType" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="branchCode" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="status" type="xsd:string" minOccurs="1"/>
              <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="code" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="accounts" minOccurs="0" maxOccurs="unbounded" nillable="true">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="partyId" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="branchId" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="accountId" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="accountType" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="accountDisplayName" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="currency" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="status" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="balance">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="currency" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="amount" type="xsd:double" minOccurs="1"/>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name="interestType" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="interestRate" type="xsd:decimal" minOccurs="0" nillable="true"/>
                  <xsd:element name="openingDate" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="relationshipType" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="accountModule" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="sortCode" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="relation" type="xsd:string" minOccurs="0" nillable="true"/>
                  <xsd:element name="moduleType" type="xsd:string" minOccurs="1"/>
                  <xsd:element name="iban" type="xsd:string" minOccurs="0" nillable="true"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>