PrepaidCardBalance/Schema/CCAR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabank.org/CCAR"
            xmlns="http://www.mozabank.org/CCAR"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified" 
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
    <xsd:element name="CCAREncodedRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="RequestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element> 
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataRequestType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- OperationData Request -->
  <xsd:complexType name="OperationDataRequestType">
    <xsd:sequence>
      <xsd:element name="CCAR_I_0001" type="xsd:string"/>
      <xsd:element name="CCAR_I_0003" type="xsd:string"/>
      <xsd:element name="CCAR_I_0004" type="xsd:string"/> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Response" type="ResponseType" nillable="true"/>
  <xsd:element name="Card" type="CardType"/> 
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string" nillable="true"/>
      <xsd:element name="operationData" type="OperationDataResponseType" nillable="true"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreLogKey" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="coreCancelationCode" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="errorCode" type="xsd:string" nillable="true"/>
      <xsd:element name="errorMessage" type="ErrorMessageType" nillable="true"/>
      <xsd:element name="validation" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="layoutVersion" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="user" type="xsd:string" nillable="true"/>
      <xsd:element name="password" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="station" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="licenceKey" type="xsd:string" nillable="true"/>
      <xsd:element name="encryption" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="code" type="xsd:string" nillable="true"/>
      <xsd:element name="version" type="xsd:string" nillable="true"/>
      <xsd:element name="sessionId" type="xsd:string" nillable="true"/>
      <xsd:element name="language" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="channelCode" type="xsd:string" nillable="true"/>
      <xsd:element name="origin" type="xsd:string" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="OperationDataResponseType">
    <xsd:sequence>
      <xsd:element name="CCAR_O_0001" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0002" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003" type="CardType" minOccurs="0" maxOccurs="unbounded" nillable="true" nxsd:jsonArray="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CardType">
    <xsd:sequence>
      <xsd:element name="CCAR_O_0003_0001" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0002" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0003" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0004" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0005" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0006" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0007" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0008" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0009" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0010" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_00101" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0011" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0012" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0013" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0014" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0015" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_00151" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0016" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_00161" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0017" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0018" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0019" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0020" type="xsd:string" nillable="true"/>
      <xsd:element name="CCAR_O_0003_0021" type="xsd:string" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true" nxsd:jsonArray="true"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>