PrepaidCardBalance/Schema/DEBIT_CARD_LIST_BY_PARTY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/DEBIT_CARD_LIST_BY_PARTY"
            xmlns="http://www.mozabanca.org/DEBIT_CARD_LIST_BY_PARTY"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <xsd:element name="DEBIT_CARD_LIST_BY_PARTY_Request" type="RequestType"/>
   <xsd:element name="dictionaryArray">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="nameValuePairArray" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="name" type="xsd:string"/>
              <xsd:element name="value" type="xsd:string"/>
              <xsd:element name="genericName" type="xsd:string"/>
              <xsd:element name="datatype" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="DEBIT_CARD_LIST_BY_PARTY_Response" type="ResponseType"/>

  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="queryMap" minOccurs="0" nillable="true">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="branchCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="ResultType"/>
      <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="debitCardList" type="DebitCardType" minOccurs="0" maxOccurs="unbounded" nxsd:jsonArray="true"/>
    </xsd:sequence>
  </xsd:complexType>
 <xsd:element name="debitCardList" type="DebitCardType"/>
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DebitCardType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="DictionaryArrayType" minOccurs="0" maxOccurs="unbounded" nxsd:jsonArray="true"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="branchId" type="xsd:string"/>
      <xsd:element name="partyId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="branchName" type="xsd:string"/>
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="displayValue" type="xsd:string"/>
      <xsd:element name="currencyCode" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="issueDate" type="xsd:string"/>
      <xsd:element name="expiryDate" type="xsd:string"/>
      <xsd:element name="applicationDate" type="xsd:string"/>
      <xsd:element name="cardRenewalDate" type="xsd:string"/>
      <xsd:element name="cardActivationDate" type="xsd:string"/>
      <xsd:element name="dispatchStatus" type="xsd:string"/>
      <xsd:element name="pinMailStatus" type="xsd:string"/>
      <xsd:element name="cardHolderName" type="xsd:string"/>
      <xsd:element name="cardType" type="xsd:string"/>
      <xsd:element name="isPrimary" type="xsd:boolean"/>
      <xsd:element name="internationalUsage" type="xsd:boolean"/>
      <xsd:element name="debitCardLimitDetails" type="LimitDetailType" minOccurs="0" maxOccurs="unbounded" nxsd:jsonArray="true"/>
      <xsd:element name="debitCardInternationalLimitDetails" type="LimitDetailType" minOccurs="0" maxOccurs="unbounded" nxsd:jsonArray="true"/>
      <xsd:element name="totalAmountLimit" type="AmountType"/>
      <xsd:element name="totalAmountMaxLimit" type="AmountType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DictionaryArrayType">
    <xsd:sequence>
      <xsd:element name="nameValuePairArray" type="NameValuePairType" minOccurs="0" maxOccurs="unbounded" nxsd:jsonArray="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="NameValuePairType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="genericName" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
      <xsd:element name="datatype" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="LimitDetailType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="unit" type="xsd:string"/>
      <xsd:element name="amount" type="AmountType"/>
      <xsd:element name="count" type="xsd:int"/>
      <xsd:element name="limitType" type="xsd:string"/>
      <xsd:element name="maxLimitAmount" type="AmountType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
 
</xsd:schema>