RedeemTermDeposit/Schemas/MAPP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
              xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
              targetNamespace="http://www.mozabanca.org/MAPP" 
              xmlns="http://www.mozabanca.org/MAPP" 
              elementFormDefault="qualified"
              attributeFormDefault="unqualified" 
              nxsd:version="JSON" 
              nxsd:encoding="US-ASCII">

  <!-- Root elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>


 <xsd:element name="RequestEncoded">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="requestString" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
  <!-- RequestType -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="OperationDataType"/>
      <xsd:element name="validation" type="ValidationType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- OperationDataType -->
  <xsd:complexType name="OperationDataType">
    <xsd:sequence>
      <xsd:element name="MAPP_I_0001" type="xsd:string"/>
      <xsd:element name="MAPP_I_0002" type="xsd:string"/>
      <xsd:element name="MAPP_I_0003" type="xsd:string"/>
      <xsd:element name="MAPP_I_0004" type="xsd:string"/>
      <xsd:element name="MAPP_I_0005" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ValidationType -->
  <xsd:complexType name="ValidationType">
    <xsd:sequence>
      <xsd:element name="confirmationKey" type="ConfirmationKeyType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ConfirmationKeyType -->
  <xsd:complexType name="ConfirmationKeyType">
    <xsd:sequence>
      <xsd:element name="digitValues" type="xsd:string"/>
      <xsd:element name="digitPositions" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ResponseType -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="ResponseOperationDataType"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage" type="ErrorMessageType"/>
      <xsd:element name="validation" type="xsd:string"/>
      <xsd:element name="layoutVersion" type="xsd:string"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="station" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ResponseOperationDataType -->
  <xsd:complexType name="ResponseOperationDataType">
    <xsd:sequence>
      <xsd:element name="MAPP_O_0001" type="xsd:string"/>
      <xsd:element name="MAPP_O_0002" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ErrorMessageType -->
  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>