OBTransfer/Resources/PTFZ_PS.wsdl

<wsdl:definitions name="PTFZ_PS" targetNamespace="http://xmlns.oracle.com/LOT2/OBTransfer/PTFZ_PS" xmlns:tns="http://xmlns.oracle.com/LOT2/OBTransfer/PTFZ_PS" xmlns:inp1="http://www.mozabanca.org/DOMESTIC_TRANSFER_NEFT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabanca.org/obdx/SepaSI" xmlns:inp3="http://www.mozabanca.org/obdx/AccountDetails" xmlns:inp4="http://www.mozabanca.org/obdx/SepaCreditTransfer" xmlns:inp5="http://www.mozabank.org">
    <plnk:partnerLinkType name="PTFZ_PS">
        <plnk:role name="PTFZ_PSProvider" portType="tns:PTFZ_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/DOMESTIC_TRANSFER_NEFT" schemaLocation="../Schema/DOMESTIC_TRANSFER_NEFT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/SepaSI" schemaLocation="../Schema/SEPA_SI.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/AccountDetails" schemaLocation="../Schema/ACCOUNT_DETAILS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/SepaCreditTransfer" schemaLocation="../Schema/SEPA_CREDIT_TRANSFER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org" schemaLocation="../Schema/BRANCH_DATE.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation2_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation2_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation3_inputMessage">
        <wsdl:part name="request" element="inp3:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation3_outputMessage">
        <wsdl:part name="reply" element="inp3:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation4_inputMessage">
        <wsdl:part name="request" element="inp4:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation4_outputMessage">
        <wsdl:part name="reply" element="inp4:Response"/>
    </wsdl:message>
    <wsdl:message name="BranchDate_inputMessage">
        <wsdl:part name="request" element="inp5:Request"/>
    </wsdl:message>
    <wsdl:message name="BranchDate_outputMessage">
        <wsdl:part name="reply" element="inp5:Response"/>
    </wsdl:message>
    <wsdl:portType name="PTFZ_PS_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <wsdl:input message="tns:Operation2_inputMessage"/>
            <wsdl:output message="tns:Operation2_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation3">
            <wsdl:input message="tns:Operation3_inputMessage"/>
            <wsdl:output message="tns:Operation3_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation4">
            <wsdl:input message="tns:Operation4_inputMessage"/>
            <wsdl:output message="tns:Operation4_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="BranchDate">
            <wsdl:input message="tns:BranchDate_inputMessage"/>
            <wsdl:output message="tns:BranchDate_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PTFZ_PS_ptt-binding" type="tns:PTFZ_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <soap:operation soapAction="Operation2"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation3">
            <soap:operation soapAction="Operation3"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation4">
            <soap:operation soapAction="Operation4"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="BranchDate">
            <soap:operation soapAction="BranchDate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>