GetCreditCardStatement/Resources/CrreditCardStmt.wsdl

<wsdl:definitions name="CrreditCardStmt" targetNamespace="http://xmlns.oracle.com/GetCreditCardStatement_Interface/GetCreditCardStatement/CrreditCardStmt" xmlns:tns="http://xmlns.oracle.com/GetCreditCardStatement_Interface/GetCreditCardStatement/CrreditCardStmt" xmlns:inp1="http://www.mozabank.org/cmov_msb" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.mozabank.org/emitir_extractos">
    <plnk:partnerLinkType name="CrreditCardStmt">
        <plnk:role name="CrreditCardStmtProvider" portType="tns:CrreditCardStmt_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/cmov_msb" schemaLocation="../Schema/CC_FETCH_BILLED_STMT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabank.org/emitir_extractos" schemaLocation="../Schema/CC_FETCH_UNBILLED_STMT.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="fetchdetails_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="fetchdetails_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="fetchunbilled_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="fetchunbilled_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:portType name="CrreditCardStmt_ptt">
        <wsdl:operation name="fetchdetails">
            <wsdl:input message="tns:fetchdetails_inputMessage"/>
            <wsdl:output message="tns:fetchdetails_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="fetchunbilled">
            <wsdl:input message="tns:fetchunbilled_inputMessage"/>
            <wsdl:output message="tns:fetchunbilled_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CrreditCardStmt_ptt-binding" type="tns:CrreditCardStmt_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="fetchdetails">
            <soap:operation soapAction="fetchdetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="fetchunbilled">
            <soap:operation soapAction="fetchunbilled"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>