GetEscrowAccounts/OBDX_Schema/CCC_ACCOUNTS_LIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabank.org/CCC_ACCOUNTS_LIST"
            xmlns="http://www.mozabank.org/CCC_ACCOUNTS_LIST"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:stream="json"
            nxsd:format="JSON"
            nxsd:version="NXSD"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>

  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="EmptyObject"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Empty Object -->
  <xsd:complexType name="EmptyObject">
    <xsd:sequence/>
  </xsd:complexType>

  <!-- Response Type with 'data' wrapper -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result" type="ResultType"/>
            <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="accounts" type="AccountType" minOccurs="0" maxOccurs="unbounded" nxsd:jsonArray="true"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Result Type -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="code" type="xsd:string"/>
              <xsd:element name="message" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
      </xsd:element>   
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Account Type -->
  <xsd:complexType name="AccountType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="nextInterestDebitDate" type="xsd:dateTime"/>
      <xsd:element name="accountingBalance" type="AccountingBalanceType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Accounting Balance -->
  <xsd:complexType name="AccountingBalanceType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>