GetAllOtherBankTransfer/CANCEL_INSTRUCTION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/CANCEL_INSTRUCTION"
            xmlns="http://www.mozabanca.org/obdx/CANCEL_INSTRUCTION" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>
  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="HeadersMapType" minOccurs="0" nillable="true"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="contractReferenceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- HeadersMap type -->
  <xsd:complexType name="HeadersMapType">
    <xsd:sequence>
      <xsd:element name="correlID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="msgID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="result" type="ResultType"/>
      <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
      <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>