GetAllOtherBankTransfer/OUTWARD_REMITTANCE_DETAILS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_DETAILS"
            xmlns="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_DETAILS"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>

  <!-- Request Type -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" minOccurs="0">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="txnReferenceId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response Type -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="result" type="ResultType"/>
            <xsd:element name="hasMore" type="xsd:boolean" minOccurs="0" nillable="true"/>
            <xsd:element name="totalRecords" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="startSequence" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="outwardRemittanceDetails" type="OutwardRemittanceDetailsType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Result Type -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Outward Remittance Details -->
  <xsd:complexType name="OutwardRemittanceDetailsType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="paymentDate" type="DateType"/>
      <xsd:element name="purposeId" type="xsd:string"/>
      <xsd:element name="remarks" type="xsd:string"/>
      <xsd:element name="bankCharges" type="MoneyType"/>
      <xsd:element name="exchangeRate" type="xsd:decimal" minOccurs="0" nillable="true"/>
      <xsd:element name="transactionAmount" type="MoneyType"/>
      <xsd:element name="debitAccount" type="AccountType"/>
      <xsd:element name="creditAccount" type="AccountType"/>
      <xsd:element name="txnReferenceId" type="xsd:string"/>
      <xsd:element name="paymentStatus" type="xsd:string"/>
      <xsd:element name="paymentType" type="xsd:string"/>
      <xsd:element name="networkCode" type="xsd:string"/>
      <xsd:element name="fundReceivedDate" type="DateType"/>
      <xsd:element name="fundCreditedDate" type="DateType"/>
      <xsd:element name="orderingPartyId" type="xsd:string"/>
      <xsd:element name="debitAmount" type="MoneyType"/>
      <xsd:element name="payeeName" type="xsd:string"/>
      <xsd:element name="payeeBankName" type="xsd:string"/>
      <xsd:element name="payeeAddress" type="AddressType"/>
      <xsd:element name="payeeBankAddress" type="AddressType"/>
      <xsd:element name="messageList" type="MessageType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="adviceList" type="MessageType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="intermediaryBankCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="intermediaryBankName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="customerRefNo" type="xsd:string"/>
      <xsd:element name="intermediaryBankAddress" type="AddressType"/>
      <xsd:element name="uniqueEndToEndTxnReference" type="xsd:string"/>
      <xsd:element name="initiationDate" type="DateType"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- DateType -->
  <xsd:complexType name="DateType">
    <xsd:sequence>
      <xsd:element name="monthDate" type="xsd:int"/>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="monthDateTime" type="xsd:long"/>
      <xsd:element name="weekOfYear" type="xsd:int"/>
      <xsd:element name="lastDayOfMonth" type="xsd:int"/>
      <xsd:element name="sqltimestamp" type="xsd:long"/>
      <xsd:element name="sqlDate" type="xsd:long"/>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="yearMonth" type="xsd:int"/>
      <xsd:element name="year" type="xsd:int"/>
      <xsd:element name="dayOfMonth" type="xsd:int"/>
      <xsd:element name="time" type="xsd:long"/>
      <xsd:element name="timestamp" type="xsd:long"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:int"/>
      <xsd:element name="yearMonthDate" type="xsd:int"/>
      <xsd:element name="month" type="xsd:int"/>
      <xsd:element name="dayOfWeek" type="xsd:int"/>
      <xsd:element name="millis" type="xsd:long"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- MoneyType -->
  <xsd:complexType name="MoneyType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- AccountType -->
  <xsd:complexType name="AccountType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="accountId" type="xsd:string"/>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="bankCode" type="xsd:string"/>
      <xsd:element name="branchCode" type="xsd:string"/>
      <xsd:element name="iban" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- AddressType -->
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="line1" type="xsd:string"/>
      <xsd:element name="line2" type="xsd:string"/>
      <xsd:element name="line3" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line4" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line5" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line6" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line7" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line8" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line9" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line10" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line11" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="line12" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="city" type="xsd:string"/>
      <xsd:element name="addressTypeDescription" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="state" type="xsd:string"/>
      <xsd:element name="country" type="xsd:string"/>
      <xsd:element name="zipCode" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- MessageType -->
  <xsd:complexType name="MessageType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="referenceNumber" type="xsd:string"/>
      <xsd:element name="dcnNo" type="xsd:string"/>
      <xsd:element name="messageType" type="xsd:string"/>
      <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>