GetAllOtherBankTransfer/OUTWARD_REMITTANCE_LIST.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_LIST"
            xmlns="http://www.mozabanca.org/obdx/OUTWARD_REMITTANCE_LIST"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">

  <!-- Root Elements -->
  <xsd:element name="Request" type="RequestType"/>
  <xsd:element name="Response" type="ResponseType"/>

  <!-- RequestType -->
  <xsd:complexType name="RequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" minOccurs="0" type="xsd:string"/>
      <xsd:element name="referenceNo" minOccurs="0" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" minOccurs="0">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="queryMap" minOccurs="0">
        <xsd:complexType/>
      </xsd:element>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="accountList" type="xsd:string" maxOccurs="unbounded" minOccurs="0" nillable="true"/>
      <xsd:element name="fromAmount" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="currency" minOccurs="0" type="xsd:string"/>
            <xsd:element name="amount" minOccurs="0" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="toAmount" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="currency" minOccurs="0" type="xsd:string"/>
            <xsd:element name="amount" minOccurs="0" type="xsd:decimal"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fromDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="toDate" minOccurs="0" type="xsd:string"/>
      <xsd:element name="currency" minOccurs="0" type="xsd:string"/>
      <xsd:element name="maxRecords" type="xsd:integer"/>
      <xsd:element name="partyId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ResponseType -->
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <!-- Placeholder or define actual DataType structure -->
      <xsd:element name="data" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence/>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="result" type="ResultType"/>

      <xsd:element name="outwardremittances" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="fundReceivedDate" type="xsd:date"/>
            <xsd:element name="fundCreditedDate" type="xsd:string"/>
            <xsd:element name="orderingPartyId" type="xsd:string"/>
            <xsd:element name="debitAmount">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="amount" type="xsd:decimal"/>
                  <xsd:element name="currency" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="payeeName" type="xsd:string"/>
            <xsd:element name="payeeBankName" type="xsd:string"/>
            <xsd:element name="payeeAddress">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="line1" type="xsd:string"/>
                  <xsd:element name="line2" type="xsd:string"/>
                  <xsd:element name="city" type="xsd:string"/>
                  <xsd:element name="state" type="xsd:string"/>
                  <xsd:element name="country" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="payeeBankAddress">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="line1" type="xsd:string"/>
                  <xsd:element name="line2" type="xsd:string"/>
                  <xsd:element name="city" type="xsd:string"/>
                  <xsd:element name="state" type="xsd:string"/>
                  <xsd:element name="country" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="partyId" type="xsd:string"/>
            <xsd:element name="paymentDate" type="xsd:string"/>
            <xsd:element name="purposeId" type="xsd:string"/>
            <xsd:element name="remarks" type="xsd:string"/>
            <xsd:element name="bankCharges">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="amount" type="xsd:decimal"/>
                  <xsd:element name="currency" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="exchangeRate" type="xsd:decimal"/>
            <xsd:element name="transactionAmount">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="amount" type="xsd:decimal"/>
                  <xsd:element name="currency" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="debitAccount">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="accountId" type="xsd:string"/>
                  <xsd:element name="bankCode" type="xsd:string"/>
                  <xsd:element name="branchCode" type="xsd:string"/>
                  <xsd:element name="currency" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="creditAccount">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="accountId" type="xsd:string"/>
                  <xsd:element name="bankCode" type="xsd:string"/>
                  <xsd:element name="branchCode" type="xsd:string"/>
                  <xsd:element name="currency" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="txnReferenceId" type="xsd:string"/>
            <xsd:element name="paymentStatus" type="xsd:string"/>
            <xsd:element name="paymentType" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- ResultType -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
      <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>