CreditCardPayment/XSDs/CC_Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.mozabanca.org/CC_Payment"
            xmlns="http://www.mozabanca.org/CC_Payment"
            elementFormDefault="qualified">

  <!-- Root element -->
  
      <xsd:element name="Request" type="CREDIT_CARD_PAYMENTRequest"/>
  
      <xsd:element name="Response" type="CREDIT_CARD_PAYMENTResponse"/>
   

  <!-- CREDIT_CARD_PAYMENT Request Structure -->
  <xsd:complexType name="CREDIT_CARD_PAYMENTRequest">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referenceNo" type="xsd:string"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:string" minOccurs="0"/>
      <xsd:element name="queryMap" type="xsd:string" minOccurs="0"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="partyId" type="xsd:string"/>
      <xsd:element name="debitAccountId" type="xsd:string"/>
      <xsd:element name="amount" type="CurrencyAmountType"/>
      <xsd:element name="paymentDate" type="xsd:string"/> <!-- Format: yyyyMMdd -->
      <xsd:element name="remarks" type="xsd:string"/>
      <xsd:element name="cardNo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- CREDIT_CARD_PAYMENT Response Structure -->
  <xsd:complexType name="CREDIT_CARD_PAYMENTResponse">
    <xsd:sequence>
    <xsd:element name="data">
    <xsd:complexType>
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
      <xsd:element name="referenceNo" type="xsd:string" minOccurs="0"/>
      <xsd:element name="result" type="ResultType"/>
      <xsd:element name="hasMore" type="xsd:string" minOccurs="0"/>
      <xsd:element name="totalRecords" type="xsd:string" minOccurs="0"/>
      <xsd:element name="startSequence" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  </xsd:element>
  </xsd:sequence>
  </xsd:complexType>
  
  
    <xsd:complexType name="CurrencyAmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Result Object -->
  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0"/>
      <xsd:element name="externalReferenceId" type="xsd:string"/>
      <xsd:element name="status" type="xsd:string"/>
    <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
            <xsd:complexType>
              <xsd:sequence>
                 <xsd:element name="code" type="xsd:string"/>
                  <xsd:element name="message" type="xsd:string"/>
              </xsd:sequence>
          </xsd:complexType>
          </xsd:element>
       
      <xsd:element name="warningList" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>