CreditCardPayment/XSDs/PAGC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/PAGC"
            xmlns="http://www.mozabanca.org/PAGC" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="JSON" nxsd:encoding="UTF-8">

  <!-- Root Element -->
 
      <xsd:element name="Request" type="PAGCRequest"/>
       <xsd:element name="PAGCEncodedRequest">
      <xsd:complexType>
        <xsd:sequence>
          <xsd:element name="RequestString" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:element>
      <xsd:element name="Response" type="PAGCResponse"/>
  

  <!-- Request -->
  <xsd:complexType name="PAGCRequest">
    <xsd:sequence>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="PAGCOperationData"/>
      <xsd:element name="validation" type="ValidationInputType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PAGCOperationData">
    <xsd:sequence>
      <xsd:element name="PAGC_I_0001" type="xsd:string"/>
      <xsd:element name="PAGC_I_0002" type="xsd:string"/>
      <xsd:element name="PAGC_I_0003" type="xsd:string"/>
      <xsd:element name="PAGC_I_0004" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ValidationInputType">
    <xsd:sequence>
      <xsd:element name="confirmationKey" type="ConfirmationKeyType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfirmationKeyType">
    <xsd:sequence>
      <xsd:element name="digitValues" type="xsd:string"/>
      <xsd:element name="digitPositions" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Response -->
  <xsd:complexType name="PAGCResponse">
    <xsd:sequence>
      <xsd:element name="transactionCode" type="xsd:string"/>
      <xsd:element name="operationData" type="xsd:string" minOccurs="0"/>
      <xsd:element name="channelOperationLogKey" type="xsd:string"/>
      <xsd:element name="coreLogKey" type="xsd:string"/>
      <xsd:element name="coreCancelationCode" type="xsd:string"/>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorMessage" type="ErrorMessageType"/>
      <xsd:element name="validation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="layoutVersion" type="xsd:string"/>
      <xsd:element name="user" type="xsd:string"/>
      <xsd:element name="password" type="xsd:string"/>
      <xsd:element name="station" type="xsd:string"/>
      <xsd:element name="licenceKey" type="xsd:string"/>
      <xsd:element name="encryption" type="xsd:string"/>
      <xsd:element name="code" type="xsd:string"/>
      <xsd:element name="version" type="xsd:string"/>
      <xsd:element name="sessionId" type="xsd:string"/>
      <xsd:element name="language" type="xsd:string"/>
      <xsd:element name="channelCode" type="xsd:string"/>
      <xsd:element name="origin" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ErrorMessageType">
    <xsd:sequence>
      <xsd:element name="messages" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>