LeasingTransaction/XSD/LEASE_ACCOUNT_TXN_STMT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/lease_txn_stmt"
            xmlns="http://www.mozabanca.org/obdx/lease_txn_stmt"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON" nxsd:encoding="UTF-8">

    <!-- Request Root Element -->
    <xsd:element name="Request" type="RequestType"/>

    <!-- Response Root Element -->
    <xsd:element name="Response" type="ResponseType"/>

    <!-- Request Type -->
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="referenceNo" type="xsd:string"/>
            <xsd:element name="interfaceId" type="xsd:string"/>
            <xsd:element name="entity" type="xsd:string"/>
            <xsd:element name="headersMap">
                <xsd:complexType/>
            </xsd:element>
            <xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="hostName" type="xsd:string"/>
            <xsd:element name="account" type="xsd:string"/>
            <xsd:element name="fromDate" type="xsd:string"/>
            <xsd:element name="toDate" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Response Type -->
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
            <xsd:element name="data">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="result" type="ResultType"/>
                        <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
                        <xsd:element name="statementItemList" type="StatementItemListType" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Result Type -->
    <xsd:complexType name="ResultType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="errorList" nillable="true" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            </xsd:element>
            <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Statement Item List Type -->
    <xsd:complexType name="StatementItemListType">
        <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="externalReferenceId" type="xsd:string"/>
            <xsd:element name="subSequenceNumber" type="xsd:string"/>
            <xsd:element name="date" type="xsd:string"/>
            <xsd:element name="valueDate" type="xsd:string"/>
            <xsd:element name="documentNo" type="xsd:string"/>
            <xsd:element name="desc" type="xsd:string"/>
            <xsd:element name="amount" type="CurrencyAmountType"/>
            <xsd:element name="balance" type="CurrencyAmountType"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--Date Type 
    <xsd:complexType name="DateType">
        <xsd:sequence>
            <xsd:element name="sqlDate" type="xsd:long"/>
            <xsd:element name="monthDate" type="xsd:int"/>
            <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
            <xsd:element name="monthDateTime" type="xsd:long"/>
            <xsd:element name="weekOfYear" type="xsd:int"/>
            <xsd:element name="lastDayOfMonth" type="xsd:int"/>
            <xsd:element name="sqltimestamp" type="xsd:long"/>
            <xsd:element name="dateString" type="xsd:string"/>
            <xsd:element name="yearMonth" type="xsd:int"/>
            <xsd:element name="year" type="xsd:int"/>
            <xsd:element name="dayOfMonth" type="xsd:int"/>
            <xsd:element name="leapYear" type="xsd:boolean"/>
            <xsd:element name="dayOfYear" type="xsd:int"/>
            <xsd:element name="month" type="xsd:int"/>
            <xsd:element name="dayOfWeek" type="xsd:int"/>
            <xsd:element name="millis" type="xsd:long"/>
            <xsd:element name="yearMonthDate" type="xsd:int"/>
            <xsd:element name="infinite" type="xsd:boolean"/>
            <xsd:element name="null" type="xsd:boolean"/>
            <xsd:element name="time" type="xsd:int"/>
            <xsd:element name="timestamp" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>-->

    <!-- Currency Amount Type -->
    <xsd:complexType name="CurrencyAmountType">
        <xsd:sequence>
            <xsd:element name="currency" type="xsd:string"/>
            <xsd:element name="amount" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>