GenericPaymentDate/GENERIC_PAYMENT_DATE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
    xmlns:tns="http://www.mozabank.org/genericPaymentDate"
    targetNamespace="http://www.mozabank.org/genericPaymentDate" 
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    nxsd:stream="json"
    nxsd:format="JSON"
    nxsd:version="NXSD"
    nxsd:encoding="UTF-8">

  <xsd:element name="Request" type="tns:GenericPaymentDateRequestType"/>
  <xsd:element name="Response" type="tns:GenericPaymentDateResponseType"/>

  <xsd:complexType name="GenericPaymentDateRequestType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="referenceNo" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="interfaceId" type="xsd:string"/>
      <xsd:element name="entity" type="xsd:string"/>
      <xsd:element name="headersMap" type="xsd:anyType"/>
      <xsd:element name="queryMap" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="hostName" type="xsd:string"/>
      <xsd:element name="txnBranch" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="networkCode" type="xsd:string"/>
      <xsd:element name="amountCurrency" type="tns:CurrencyAmountType"/>
      <xsd:element name="debitAccount" type="xsd:string"/>
      <xsd:element name="debitCurrency" type="xsd:string"/>
      <xsd:element name="receiverBankCode" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="instructionDate" type="tns:DateWrapperType" minOccurs="0"/>
      <xsd:element name="activationDate" type="tns:DateWrapperType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="GenericPaymentDateResponseType">
    <xsd:sequence>
      <xsd:element name="data">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dictionaryArray" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="referenceNo" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="result" type="tns:ResultType"/>
            <xsd:element name="hasMore" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="totalRecords" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="startSequence" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="dateDetails" type="tns:DateDetailsType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ResultType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="externalReferenceId" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="status" type="xsd:string"/>
      <xsd:element name="errorList" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="warningList" type="xsd:anyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CurrencyAmountType">
    <xsd:sequence>
      <xsd:element name="currency" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DateDetailsType">
    <xsd:sequence>
      <xsd:element name="dictionaryArray" type="xsd:anyType" minOccurs="0"/>
      <xsd:element name="networkDate" type="xsd:string"/>
      <xsd:element name="instructionDate" type="xsd:string"/>
      <xsd:element name="activationDate" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DateWrapperType">
    <xsd:sequence>
      <xsd:element name="calendarDayOfWeek" type="xsd:string"/>
      <xsd:element name="weekOfYear" type="xsd:int"/>
      <xsd:element name="monthDateTime" type="xsd:long"/>
      <xsd:element name="monthDate" type="xsd:int"/>
      <xsd:element name="lastDayOfMonth" type="xsd:int"/>
      <xsd:element name="sqltimestamp" type="xsd:long"/>
      <xsd:element name="dateString" type="xsd:string"/>
      <xsd:element name="yearMonthDate" type="xsd:int"/>
      <xsd:element name="year" type="xsd:int"/>
      <xsd:element name="dayOfMonth" type="xsd:int"/>
      <xsd:element name="time" type="xsd:long"/>
      <xsd:element name="timestamp" type="xsd:long"/>
      <xsd:element name="leapYear" type="xsd:boolean"/>
      <xsd:element name="dayOfYear" type="xsd:int"/>
      <xsd:element name="month" type="xsd:int"/>
      <xsd:element name="dayOfWeek" type="xsd:int"/>
      <xsd:element name="millis" type="xsd:long"/>
      <xsd:element name="yearMonth" type="xsd:int"/>
      <xsd:element name="sqlDate" type="xsd:long"/>
      <xsd:element name="infinite" type="xsd:boolean"/>
      <xsd:element name="null" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>