JueJueWs/Resources/JueWS_PS.wsdl

<wsdl:definitions name="JueWS_PS" targetNamespace="http://xmlns.oracle.com/LOT2/JueJueWs/JueWS_PS" xmlns:tns="http://xmlns.oracle.com/LOT2/JueJueWs/JueWS_PS" xmlns:inp1="http://www.mozabanca.org/obdx/JueEntityList" xmlns:inp2="http://www.mozabanca.org/obdx/JueEntityPayment" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="JueWS_PS">
        <plnk:role name="JueWS_PSProvider" portType="tns:JueWS_PS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/JueEntityList" schemaLocation="../XSD/JueEntityList.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mozabanca.org/obdx/JueEntityPayment" schemaLocation="../XSD/JueEntityPayment.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Operation1_inputMessage">
        <wsdl:part name="request" element="inp1:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation1_outputMessage">
        <wsdl:part name="reply" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="Operation2_inputMessage">
        <wsdl:part name="request" element="inp2:Request"/>
    </wsdl:message>
    <wsdl:message name="Operation2_outputMessage">
        <wsdl:part name="reply" element="inp2:Response"/>
    </wsdl:message>
    <wsdl:portType name="JueWS_PS_ptt">
        <wsdl:operation name="Operation1">
            <wsdl:input message="tns:Operation1_inputMessage"/>
            <wsdl:output message="tns:Operation1_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <wsdl:input message="tns:Operation2_inputMessage"/>
            <wsdl:output message="tns:Operation2_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JueWS_PS_ptt-binding" type="tns:JueWS_PS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation1">
            <soap:operation soapAction="Operation1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Operation2">
            <soap:operation soapAction="Operation2"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>