INSS_State_Payment/XSD/INSS_GUIDE_NO_DETAILS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            targetNamespace="http://www.mozabanca.org/obdx/INSS_GUIDE_NO_DETAILS"
            xmlns="http://www.mozabanca.org/obdx/INSS_GUIDE_NO_DETAILS"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            nxsd:version="JSON"
            nxsd:encoding="UTF-8">
 
  <xsd:element name="Request" type="RequestType" nxsd:jsonRootElement="true"/>
  <xsd:element name="Response" type="ResponseType" nxsd:jsonRootElement="true"/>
 
  <xsd:complexType name="RequestType" nxsd:mapOrder="dictionaryArray referenceNo interfaceId entity headersMap queryMap hostName guideNumber accountNumber">
<xsd:sequence>
<xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="referenceNo" type="xsd:string"/>
<xsd:element name="interfaceId" type="xsd:string"/>
<xsd:element name="entity" type="xsd:string"/>
<xsd:element name="headersMap">
<xsd:complexType/>
</xsd:element>
<xsd:element name="queryMap" type="xsd:string" minOccurs="0" nillable="true"/>
<xsd:element name="hostName" type="xsd:string"/>
<xsd:element name="guideNumber" type="xsd:string"/>
<xsd:element name="accountNumber" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
 
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
    <xsd:element name="data">
    <xsd:complexType>
    <xsd:sequence>
    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="referenceNo" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="result" type="ResultType"/>
    <xsd:element name="hasMore" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="totalRecords" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="startSequence" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="guideNumber" type="xsd:string"/>
    <xsd:element name="accountNumber" type="xsd:string"/>
    <xsd:element name="contributorName" type="xsd:string"/>
    <xsd:element name="contributionValue" type="xsd:decimal"/>
    <xsd:element name="valjurosMora" type="xsd:decimal"/>
    <xsd:element name="penaltyValue" type="xsd:decimal"/>
    <xsd:element name="interestValue" type="xsd:decimal"/>
    <xsd:element name="totalAmount" type="xsd:decimal"/>
    <xsd:element name="contributionTypeCode" type="xsd:string"/>
    <xsd:element name="contributionType" type="xsd:string"/>
    <xsd:element name="inssNumber" type="xsd:string"/>
    <xsd:element name="inssStatusCode" type="xsd:string"/>
    <xsd:element name="nuit" type="xsd:string"/>
    <xsd:element name="referenceMonth" type="xsd:string"/>
    <xsd:element name="inssAgencyCode" type="xsd:string"/>
    <xsd:element name="inssCreditCurrentAccount" type="AccountValueType"/>
    <xsd:element name="creditName" type="xsd:string"/>
    <xsd:element name="paymentDueDate" type="xsd:string"/>
    <xsd:element name="paymentLocation" type="xsd:string"/>
    <xsd:element name="instructions" type="xsd:string"/>
    <xsd:element name="inssControlNumber" type="xsd:string"/>
    <xsd:element name="paymentFormat" type="xsd:string"/>
    <xsd:element name="bankIdentificationNumber" type="xsd:string"/>
    <xsd:element name="dateOfReceipt" type="xsd:string"/>
    <xsd:element name="returnProtocol" type="xsd:string"/>
    <xsd:element name="processingDate" type="xsd:string"/>
    <xsd:element name="authenticationCode" type="xsd:string"/>
    <xsd:element name="amountPaid" type="xsd:decimal" minOccurs="0" nillable="true"/>
    <xsd:element name="movementSequence" type="xsd:string"/>
    <xsd:element name="returnMessage" type="xsd:string"/>
    <xsd:element name="currencyCode" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
    </xsd:sequence>
    </xsd:complexType>
    
 
  <xsd:complexType name="ResultType">
    <xsd:sequence>
    <xsd:element name="dictionaryArray" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="externalReferenceId" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="status" type="xsd:string"/>
    <xsd:element name="errorList" type="xsd:string" minOccurs="0" nillable="true"/>
    <xsd:element name="warningList" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
</xsd:complexType>
 
  <xsd:complexType name="AccountValueType">
  <xsd:sequence>
  <xsd:element name="displayValue" type="xsd:string"/>
  <xsd:element name="value" type="xsd:string"/>
  </xsd:sequence>
</xsd:complexType>
 
 
 
</xsd:schema>