RedeemTermDeposit/Resources/RedeemTermDeposit.wsdl

<wsdl:definitions name="RedeemTermDeposit" targetNamespace="http://xmlns.oracle.com/21-05-2025/RedeemTermDeposit/RedeemTermDeposit" xmlns:tns="http://xmlns.oracle.com/21-05-2025/RedeemTermDeposit/RedeemTermDeposit" xmlns:inp1="http://www.mozabank.org/td_redeem" xmlns:inp2="http://www.mozabank.org/td-fetch-penality" xmlns:inp3="http://www.mozabank.org/PARTY_LIST" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <plnk:partnerLinkType name="RedeemTermDeposit">
    <plnk:role name="RedeemTermDepositProvider" portType="tns:RedeemTermDeposit_ptt"/>
  </plnk:partnerLinkType>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.mozabank.org/td_redeem" schemaLocation="../Schemas/TD_REDEEM.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.mozabank.org/td-fetch-penality" schemaLocation="../Schemas/TD_FETCH_PENALTY.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.mozabank.org/PARTY_LIST" schemaLocation="../Schemas/PARTY_LIST.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TdRedeem_inputMessage">
    <wsdl:part name="request" element="inp1:Request"/>
  </wsdl:message>
  <wsdl:message name="TdRedeem_outputMessage">
    <wsdl:part name="reply" element="inp1:Response"/>
  </wsdl:message>
  <wsdl:message name="TdFetchPenalty_inputMessage">
    <wsdl:part name="request" element="inp2:Request"/>
  </wsdl:message>
  <wsdl:message name="TdFetchPenalty_outputMessage">
    <wsdl:part name="reply" element="inp2:Response"/>
  </wsdl:message>
  <wsdl:message name="PartyList_inputMessage">
    <wsdl:part name="request" element="inp3:Request"/>
  </wsdl:message>
  <wsdl:message name="PartyList_outputMessage">
    <wsdl:part name="reply" element="inp3:Response"/>
  </wsdl:message>
  <wsdl:portType name="RedeemTermDeposit_ptt">
    <wsdl:operation name="TdRedeem">
      <wsdl:input message="tns:TdRedeem_inputMessage"/>
      <wsdl:output message="tns:TdRedeem_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="TdFetchPenalty">
      <wsdl:input message="tns:TdFetchPenalty_inputMessage"/>
      <wsdl:output message="tns:TdFetchPenalty_outputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="PartyList">
      <wsdl:input message="tns:PartyList_inputMessage"/>
      <wsdl:output message="tns:PartyList_outputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RedeemTermDeposit_ptt-binding" type="tns:RedeemTermDeposit_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TdRedeem">
      <soap:operation soapAction="TdRedeem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TdFetchPenalty">
      <soap:operation soapAction="TdFetchPenalty"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartyList">
      <soap:operation soapAction="PartyList"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>